[2020-02-11 05:45] atharva-sundge opened #1 "Issue related to 'Write MicroPython examples and tools for Portenta' project"
In the project named 'Write MicroPython examples and tools for Portenta' ,dose Tensorflow library can be used or applied  for writing examples?
And also in examples can we write Deep Learning example?

[2020-02-20 19:05] salisbuk7897 opened #2 "Write JerryScript (JavaScript) examples and tools for Portenta"
Hi, My name is Salisu Ali. I'm an undergraduate student and a self taught developer for 3 years. I work with arduino Uno R3, ESP8266 WIFI module, etc where I build home automation system as well as temperature and heart rate tracking system. I have some experience with machine learning models too. My programming languages are python, java, c++, C#,JavaScript and a little of COBOL and Rexx.
    I h

[2020-02-20 20:22] Captain-Stack commented on #1
Hi I am an Undergraduate student and have some experience with micropython.Can you please tell me what kind of example code we can add in this issue?

[2020-02-20 20:36] pkpale opened #3 "Write MicroPython examples and tools for Portenta"
Hi, My name is Praveen Kumar. I'm an undergraduate student in the Electronics and Communication Department of NIT HAMIRPUR(H.P). I previously worked with the Arduino Uno board and STM32F746NG Board in my college curriculum project where I deployed Convolution Neural Network(CNN) on it using STM32CubeMx software. My programming languages are python, java, c++.
I don't have much exposure to open sou

[2020-02-20 20:57] sciamp-dev opened #4 "Add network discovery support to arduino-cli"
Hello everyone!

My name's Dennis, I'm an Italian student enrolled in the bachelor in Engineering of Computing Systems at Politecnico di Milano. As of now, I'm ending my internship at Philips in The Netherlands as an Embedded Software Engineer. 

The project I'm interested in is the one to _add network discovery support to arduino-cli_.
I'm finishing my intership (still 3 weeks) so I don't have mu

[2020-02-20 21:03] Captain-Stack opened #5 "Write MicroPython examples and tools for Portenta"
Hi I am an Undergraduate student and have some working experience with arduino nano.,uno,mega and nodemcu.I have also some experience working with micropython.I also have experience working with Python ,c ,and c++ language.Can you please help me by pointing out which kind of code can be added to the project?

[2020-02-21 02:30] ken-suga opened #7 "Write examples for official libraries"
Hi,
I am @ken-suga . I am an undergraduate student at a university in Japan. I have some experience working with Arduino Uno and am a hobby user of AVR microcontrollers. I have C, C++, Python, Ruby and some assembly skills. I am highly interested in working on writing examples for official libraries, especially the mouse and keyboard libraries.
Is there a reason why no examples were created for th

[2020-02-21 06:16] karanankit01 commented on #7
Hii
I'm Ankit Karan currently a junior at Indian Institute of Technology, Mandi. I found the project for " Writing examples for official libraries " quite interesting. I have a good background in microcontroller basics and Robotics . I have working knowledge and good hand in C, C++ and Python .Also I am current coordinator of Robotics Club in IIT Mandi . Can you please suggest how to proceed furth

[2020-02-21 06:42] 96vksingh commented on #5
Hi, I am @96vksingh and an undergraduate student. I have experience in c,c++and python. It seems interesting Arduino with python. Can you please suggest me some examples on which to focus on and sensors to be used? Further you can see my workings on my GitHub profile(@96vksingh).

[2020-02-21 07:59] bhatakti-atama commented on #7
Hi, I would like to start working on this issue what would be a good place to start?

[2020-02-21 08:03] bhatakti-atama commented on #5
Hi I would like to know more about this issue. I don't have a portenta board available is there any recommended simulator?

[2020-02-21 08:33] sarthak-m-das commented on #7
Hi
I'm Sarthak M. Das. I am doing my undergraduates from BIT Mesra. I have an interest in Robotics and Embedded Systems. I have a working knowledge of C, C++, Python and JavaScript. I have some experience working with Arduino Uno. Also, I am contributing as the General Secretary of the Robotics Club of BIT Mesra. I am interested in working on the project "Write examples for official libraries". Ca

[2020-02-21 08:56] ken-suga commented on #7
Sorry, forgot to mention one thing. Could you suggest how I can get involved and contribute to this project?

[2020-02-21 09:01] avinal commented on #7
Hello,
I am Avinal. I am currently a junior at National Institute of Technology, Hamirpur, India. I find this project interesting. I have some experiences with Arduino Programming and I am very good at C++. Please suggest how to proceed further and contribute to this project.
Thanks.

[2020-02-21 11:23] hnumair commented on #5
Greetings,
I am an undergraduate student as well and have fair knowledge of C and Python. To be completely honest I haven't worked on any industrial level project but would like to contribute to this project. Can I get some contact details of the mentor(s) so I can ask few more relevant things?

[2020-02-21 12:06] manan2501 commented on #5
Hi, I am an undergraduate student, studying Electronics and Communication Engineering in Surat, India. I had previously worked with arduino Nano, Uno, and nodemcu. I am interested in AI and Cybersecurity, this would help me to use Portenta uniquely and write great examples. I had working with Python ,c, and c++ language in the past. I cannot wait to get my hands dirty, Please point me to the start

[2020-02-21 12:25] PRITI24 commented on #7
Hello,
I am Priti Jha.I am pursuing third year B.Tech Computer Engineering from Cummins College of engineering for Women in Pune.I also Contributed in Robocon 2019.I am interested in writing libraries.I am good at C,C++,Python,Java.I have worked with Arduino Mega,Arduino UNO,Arduino Nano.Can anyone help how to proceed further?

[2020-02-21 15:09] PrashantDandriyal opened #9 "How should one submit examples for portenta board when its not locally available for purchase?"
Hello,
I am looking forward to working with the amazing Arduino open-source community for GSoC 2020. I read about the portenta board and was pretty amazed by its specifications and modern design. I am waiting eagerly to use it to deploy tiny ML models.
But, how should I experiment with it and submit examples for it when I can't avail it right now?

[2020-02-21 18:35] derekdunes commented on #9
They said they will send you a free board if you get selected for the gsoc program "Note: accepted students will be sent a free Portenta board."

[2020-02-21 18:40] derekdunes commented on #7
You guys should read the documentation again 👇https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md

[2020-02-21 19:16] PiyushB001 opened #11 "Write MicroPython examples and tools for Portenta"
Greetings,
I would like to introduce myself as Piyush Bhatia, a sophomore engineering undergrad in the field of Electronics and Communication Technology IIIT-Una, India.

The project I am interested in for the year 2020 iteration of GSoC is "Write MicroPython examples and tools for Portenta". I have previously worked on Arduino Uno and Mega for a couple of my personal projects. I have prior experi

[2020-02-21 19:22] Engineer1999 commented on #7
Hello all
I am Bhargav Patel from Ahmedabad, Gujarat, India. I am a 3rd-year undergraduate student. I have worked on Arduino extensively starting from LED blinking to automation using IoT and building a mobile robot capable of performing Simultaneous Localization and Mapping with Arduino and Java.

Doubt:- If already examples are available then can we make them more interpretable by adding comment

[2020-02-21 19:26] ghost commented on #9
Hey Prashant!
Since you live in Dehradun, I would suggest you to purchase it from a foreign website and ship it to India. Since, sellers in India are currently not supplying the Portents Board.

[2020-02-21 19:36] siddharth25pandey commented on #7
Hello, Myself Siddharth Pandey. I am doing my B-Tech in Computer Science Engineering from Indian Institute of Information Technology, Sri City. I have working knowledge in C,C++ and I also have experience in working with Arduino Uno. I am highly interested in working on writing examples for official libraries.
I have created a pull request https://github.com/arduino-libraries/ArduinoCloudThing/pul

[2020-02-22 06:58] thekunalsaini commented on #7
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Doubt:- Can we add an advance level example or basic one ?

Looking forward to becoming p

[2020-02-22 07:52] thekunalsaini opened #12 "Write examples and made tutorials for official libraries for efficient and effective use of library by developers"
I m Kunal Saini from Kurukshetra, Haryana, India.
I think this way of explaining is better because this have live demo with Example of library file usage.
Thank you,
Kunal

[2020-02-22 07:53] thekunalsaini commented on #12
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Doubt:- Can we add an advance level example or basic one ?

Looking forward to becoming p

[2020-02-22 08:54] pra-dan commented on #9
@derekdunes but we need to start contributing before the selection starts and the boards will only be provided after that.
_Win at digging and win a shovel_

[2020-02-22 08:59] pra-dan commented on #9
I found this:

[2020-02-22 09:03] pra-dan commented on #1
The official docs/description says, it supports Jerryscript, micropython and Tensorflow Lite. So yes, I guess.

[2020-02-22 13:08] lorforlinux commented on #7
Hi,
My name is [Deepak Khatri ](https://deepaklorkhatri007.github.io/)and I am pursuing B.E. from Netaji Subhas Institute of Technology, New Delhi, India. I want to work on this project this summer.

I have created a pull request https://github.com/arduino-libraries/SD/pull/73 which is an initial step in fixing the issue of incompatibility in error messages within different examples of SD library.

[2020-02-22 15:27] dushyant18033 commented on #11
Hi,
I am Dushyant Panchal, a second year B.Tech Computer Science and Engineering student from Indraprastha Institute of Information Technology, Delhi and I am looking forward to contribute to the betterment of Arduino and Portenta community.

The project I'm very much interested in and would like to give my best contribution to for GSOC 2020 is "**Writing MicroPython examples and tools for Portent

[2020-02-22 15:55] derekdunes commented on #9
@PrashantDandriyal I think it's up to the organization to state how developers get the boards and start contributing.

[2020-02-22 16:03] thekunalsaini opened #13 "Make an official app for arduino to make Examples and tutorials available and lot more available to all(means handy to all)"
Its very helpful for many people.

[2020-02-22 16:04] thekunalsaini commented on #13
Application of arduino for ios and andriod

[2020-02-22 16:08] thekunalsaini commented on #13
These are instant preview of application.
 ##
(https://user-images.githubusercontent.com/43953836/75095529-9b3e0600-55bb-11ea-857a-b39f91b3cafa.jpg)

(https://user-images.githubusercontent.com/43953836/75095531-9d07c980-55bb-11ea-9dd4-231b49ae77fc.jpg)

(https://user-images.githubusercontent.com/43953836/75095533-9e38f680-55bb-11ea-9b0f-bfc65186faa8.jpg)

[2020-02-22 17:33] Engineer1999 opened #15 "How to know which library require examples or modification?"
Hello all
I am trying to add or modify examples in the Arduino library but I don't know where to start. Can someone please help me in finding the issue or a library which need modification or need a new example.
Thank you.

[2020-02-22 19:58] ANTRIKSH-GANJOO commented on #3
[Arduino.txt](https://github.com/arduino/summer-of-code/files/4239857/Arduino.txt)
[Arduino2.txt](https://github.com/arduino/summer-of-code/files/4239858/Arduino2.txt)
[Arduino3.txt](https://github.com/arduino/summer-of-code/files/4239859/Arduino3.txt)
#These are some of the examples in #5  for Portena Board

[2020-02-22 20:03] ANTRIKSH-GANJOO commented on #7
Hello,
I am Antriksh Ganjoo. I am pursuing  B.Tech Electronics Engineering from NIT Surat . I also Contributed in Robocon 2019. I am interested in writing libraries. I am good at C,C++,Python. I have worked with Arduino Mega,Arduino UNO,Arduino Nano.Can anyone help how to proceed further?

[2020-02-23 02:59] JahnaviChitta commented on #5
Hi I am Jahnavi, an undergraduate student. I had experience working on arduino nano, UNO, nodemcu as well as raspberrpi. I have also written some programs on my own to make use of them in my projects. I have very good grip on python, c, c++ too. So, I would be a great pleasure if you point me to the starting point, so that I can use my knowledge in a productive way. You can see my workings on my g

[2020-02-23 08:48] shivang2k opened #17 "NEW PROJECT: Flutter App for all the examples, tutorials and documentation"
I would like to propose a new project for GSOC'20. The project will be focused on building a flutter app for Arduino, which shall contain all the tutorials regarding all the Arduino boards (New and Old), Examples for most of the libraries (As much as we can add) along with videos if available, and official documentation.

The reason why I am proposing to build a flutter app is that using the same

[2020-02-23 13:51] tanmaythaakur commented on #3
Hello everyone. My name is Tanmay Thakur and I am a second year undergrad at Keshav Memorial institute of Technology, Hyderabad, majoring in ECE. I have prior experience of working with **Arduino UNO** and Wifi module **ESP8266**. I can work with programming languages like **Python, C, C++**. I would like to work on the project "**Write MicroPython examples and tools for Portenta**". Please provid

[2020-02-23 16:40] george-stam commented on #15
I would like to know too

[2020-02-23 19:20] pra-dan commented on #9
Yeah exactly @derekdunes.
I wonder when can we expect responses from the organizers?

[2020-02-23 21:04] SahanWickramage commented on #3
Hello, I am Sahan who is an Integrated Computer Engineering final year undergraduate at the University of Moratuwa, Sri Lanka. I have done many Arduino projects. Some of them are the Arduino library for communication protocol and the Arduino quadcopter flight controller. I am interested in embedded systems and networking. I am familiar with Python and C++. I would like to contribute to "Write Micr

[2020-02-23 21:17] SahanWickramage commented on #4
Hello, I am Sahan who is an Integrated Computer Engineering final year undergraduate at the University of Moratuwa, Sri Lanka. I am familiar with Arduino but not much familiar with Arduino Command Line Interface. But I have started to being familiarized with Arduino Command Line Interface. Recently I did the Arduino library for communication protocol and software using NPCAP. I am interested in em

[2020-02-24 07:52] mightycandle opened #18 "NEW PROJECT: Developing Arduino 3D printer ,the libraries and their examples"
I'd like to propose a new project for the upcoming GSoC ,2020. This project will be focused on applications of arduino and  the libraries involved. This project takes up development of effiiceint codes for typical bot programs like _Micro-Mouse-Maze bot_, or be a _drone delivery_ and examples for all the libraries involved in it.
    So rationally speaking, this would cover the examples for the li

[2020-02-24 11:15] thekunalsaini commented on #13
@masci @dcuartielles @tigoe @mbanzi

[2020-02-24 11:18] thekunalsaini commented on #11
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

These are some example of micropython I want to work with you to make tools for portenta.

[2020-02-24 11:20] thekunalsaini commented on #11
[Arduino.txt](https://github.com/arduino/summer-of-code/files/4244273/Arduino.txt)
[Arduino2.txt](https://github.com/arduino/summer-of-code/files/4244274/Arduino2.txt)

Some examples of Micropython

[2020-02-24 11:21] thekunalsaini commented on #9
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Looking forward to becoming part of the Arduino Community and making contributions

[2020-02-24 11:21] thekunalsaini commented on #5
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Familiar with tool development

Looking forward to becoming part of the Arduino Community

[2020-02-24 11:22] thekunalsaini commented on #5
@Captain-Stack  here is one example
[Arduino.txt](https://github.com/arduino/summer-of-code/files/4244284/Arduino.txt)

[2020-02-24 11:23] thekunalsaini commented on #1
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Doubt:- Can we add an advance level example or basic one ?

Looking forward to becoming p

[2020-02-24 11:23] thekunalsaini commented on #2
Hello all,
I am Kunal Saini from Kurukshetra, Haryana, India. I am a 3rd-year undergraduate student. I have worked on Arduino from very beginning i.e. from LED blinking to automation using IoT with IBM watson and building a mobile and robots using Arduino.
I have made lots of example .
Thank you,
Kunal Saini

Doubt:- Can we add an advance level example or basic one ?

Looking forward to becoming p

[2020-02-24 11:29] utkarshg99 commented on #2
Hello all,

My name is Utkarsh Gupta and I am a Sophomore, Electrical Engineering at Indian Institute of Technology, Kanpur. I have been working with Arduino for over 2 years now and have implemented various IoT as well as Communication System Projects on Arduino. I have a firm grasp on Javascript as I am a full-stack developer (Frontend frameworks like Vue, Backend: NodeJS). I am greatly interest

[2020-02-24 12:19] tkhabia commented on #11
Hi,
I  am the Tanmay khabia from  IIIT Hyderabad, India. I am a second-year undergraduate student ece branch. I have been working with Arduino for many of my IoT Project using Arduino UNO and NodeMCU.
I am interested in  this year GSoC 2020 project Write MicroPython examples and tools for Portenta, Can I get some suggestion about how to get started and contribute?
Thank you

[2020-02-24 12:22] salisbuk7897 commented on #2
Hi,
   Great experience you have there. Meanwhile, as we wait for the Arduino team to reply and Guide us towards submitting a proposal. I wish us all the best of luck.

regards,
Salisu Ali

[2020-02-24 12:38] SauravBaba commented on #17
@shivang2k  Sir I am very eager to work on this flutter app.Can I show some of user interface.

[2020-02-24 17:33] derekdunes commented on #17
@shivang2k would definitely want to contribute too. Create a repo n a slack channel to start.

[2020-02-24 17:38] derekdunes commented on #13
@shivang2k @Saurav80 ☝️

[2020-02-25 02:28] hmzakhalid opened #21 "Writing an Analyzer for Arduino Libraries. My Take on it."
Hey, My Name is Hamza Khalid, I'm in my 2nd Semester of University at NUCES in Islamabad. and I've worked with and used Arduino Before to win a Science Fair. I built a line following and Object Detection Robot in 12th Grade and from then on my Passion for Robotics took a wonderful start.

 I would like to write Examples of the Official Libraries for GSoC'2020 . I see there are People building Apps

[2020-02-25 12:53] ghost commented on #21
Hello there,
My name is Debraj Maji and I am currently a 2nd year undergraduate student belonging to electrical engineering discipline from Indian Institute of Technology Kharagpur. I know c++/c quite well and have some experience in writing code for Arduino(Mega) for a robotics event where I had to build a path detection model based on data collected through RFID sensors and visual input.

Would

[2020-02-26 03:17] dakhnod opened #23 "can former GSOC participants reapply?"
I was wondering if it would be possible for me and other former GSOC participants to apply for any of your projects when we have already completed GSOC once.

Are there any preconditions to be met in such a case?

[2020-02-26 03:33] per1234 commented on #23
Hi @dakhnod
From section 7.1b of https://summerofcode.withgoogle.com/rules/:

...

[2020-02-26 03:35] dakhnod commented on #23
@per1234, thanks for the quick reply, I Just wanted to double check since some organizations decide to apply their own rules in some aspects...

[2020-02-26 03:39] per1234 commented on #23
I can't say whether Arduino is applying any additional restrictions on who can participate. Maybe one of the other administrators will comment here with that information.

[2020-02-26 04:18] pra-dan commented on #18
That sounds really promising! I would like to join this project in GSoC if possible.

[2020-02-26 05:57] PrashantDandriyal opened #24 "Can we apply for 2 projects/ideas ?"

[2020-02-26 06:04] pra-dan commented on #24
I wish to apply for both:

1. Write examples for official libraries
2. Write MicroPython examples and tools for Portenta boards

Am I allowed to do so?

[2020-02-26 08:56] mightycandle commented on #18
Also, how should one contact the administrator?. I'm new to open source contribution and I have some queries about my projected project and about where to upload the examples .Could someone help me out in this?

[2020-02-26 15:46] Chester-King commented on #11
Greetings,
I am Madhur Dixit, a third year student pursuing Btech in Computer Science and Engineering from Vellore Institute of Technology, Vellore, India.
I am looking forward to making valuable contributions to the Arduino and Portenta repositories.
       I have worked extensively with various microcontrollers including arduino UNO, MEGA, Node MCU and raspberry pi. I am actively involved in wor

[2020-02-26 18:34] alranel commented on #23
@dakhnod We do not apply any additional restriction over the general GSoC rules. Feel free to propose your project :)

[2020-02-26 18:37] alranel commented on #1
Hello @a-v-s-coder, indeed you can use Tensorflow and work on Deep Learning.

@thekunalsaini Hello! You can make examples of any level. Advanced examples are very welcome.

[2020-02-26 18:38] alranel commented on #1
Hello @a-v-s-coder, indeed you can use Tensorflow and work on Deep Learning.

@thekunalsaini Hello! You can make examples of any level. Advanced examples are very welcome. Please open a separate issue where we can communicate. We'd like to have one issue per student as a direct communication channel. :)

[2020-02-26 18:39] alranel commented on #24
Yes, according to the GSoC FAQ: https://developers.google.com/open-source/gsoc/faq#can_i_submit_more_than_one_proposal
(Make sure you've read that guide)

[2020-02-26 18:41] alranel commented on #21
Welcome @hmzakhalid, looking forward to see your proposal. Feel free to ask any question.

Hello @abhstract - please open your own issue in this issue tracker as we'd like to have one issue per student as a direct communication channel.

[2020-02-26 18:49] alranel commented on #18
Hello @mightycandle! Your idea sounds interesting and promising. You might want to start drafting a proposal using the template and the instructions included in this repository, and then just ask here any questions should you have. Let's use this issue as a direct communication channel between you and us.

[2020-02-26 19:09] Chester-King opened #25 "Write MicroPython examples and tools for Portenta"
Greetings,
I am Madhur Dixit, a third year student pursuing Btech in Computer Science and Engineering from Vellore Institute of Technology, Vellore, India.

I am looking forward to making valuable contributions to the Arduino and Portenta repositories.
I have worked extensively with various microcontrollers including arduino UNO, MEGA, Node MCU and raspberry pi. I am actively involved in working w

[2020-02-26 19:22] sushantag9 opened #26 "Idea: write MicroPython examples and tools for Portenta"
Hi, I am intrested in workin gon this project. I have an experience of worrking with Arduino, Raspberry Pie, jetson Nano and Movidius Stick.
With this in my skill set I would like to contribute by best to the community. Arduino + python is like iceing on the cake

[2020-02-26 20:01] MahmoudOsama97 opened #28 "Write Examples for Arduino Libraries"

[2020-02-26 20:09] MahmoudOsama97 commented on #28
i am Mahmoud Osama Mahmoud Soliman from Cairo Egypt ,3rd year computer and system engineer ainshms university.
i find that writing examples for arduino libraries is pretty interesting ,as it will help a lot of people around the world to use it ,as when i started using arduino some times i found difficulty in using some libraries , now as i became good in embedded systems using AVR and TIVAC , by t

[2020-02-27 01:11] wizofe opened #29 "GSoC '20: Deep learning imaging for Portenta"
I am Ioannis and I am doing an MRes at King's College London in Medical Imaging and AI. Next year I will start a PhD and explore deep learning models in cardiac MRI reconstruction. Therefore I do have experience in imaging, some CUDA programming and 8 years of industry experience with hardware and software engineering.

In class, I have experience with PyTorch, MATLAB and Julia programming. I do k

[2020-02-27 02:21] KAbhijeet2105 opened #30 "Write examples for official libraries"
Hello Everyone,
I am Abhijeet Kadam from Kolhapur, Maharashtra, India. I have worked with Arduino Mega, Arduino UNO, Arduino Nano,esp8266 nodemcu. I developed many projects like a line-following robot, home automation, and other IoT projects by using Arduino boards. I have good knowledge of C, C++, Python and Java programming languages. I also have good experience in Android Development.
 I am int

[2020-02-27 02:53] pra-dan commented on #24
Thank you.

[2020-02-27 02:53] #24 closed

[2020-02-27 06:06] senpinaki222 opened #31 "New Project : creating library to connect Arduino IDE and Python Script on local machine in real time"
Hello Everyone,
I am **PINAKI SEN**, a second year student, pursuing B.Tech in Electrical Engineering from National Institute of Technology, Agartala.

As a part of **GSoC'2020**, I would like to work on a new Library for Arduino for creating a real time connection between the Arduino IDE and another python script running on Local Machine. I have worked with Arduino Uno, Nano, Mega,  NODEMCU ESP82

[2020-02-27 13:24] get-thepacket opened #32 "GSoC'20 : Some queries about JerryScript for Portenta"
## Some Guidance required in regard with the idea
#### write JerryScript (JavaScript) examples and tools for Portenta

_This issue is totally GSoC related and the repository does not have significant information about any arduino project._

Some queries that I have are stated below -

* about Portenta Board
  * The board is available at this [link](https://www.thingbits.net/products/arduino-porten

[2020-02-27 13:31] devvrat02 commented on #31
Hello,
My self Chetan Malviya ,I am achieving bachelors in Computer Science  at Shri Vaishnav Vidyapeeth Vishwavidyalaya. I work on various real time project by connecting the arduino to the cloud by using like azure Mysql and other cloud provider and i face various problems for connecting it therefore i like to work on that interfacing and i work on the arduino uno,nano,nodemcu esp8266
Thanks.

[2020-02-27 16:40] mightycandle commented on #18
Hey @alranel ,
Regarding the bots developement, I've come up with a few ideas, I wanna pursue all of them and I'd like to discuss with you its feasibility-
1. Blind drone RC: This is about making a drone-quadcopter with an arduino base, bluetooth connection to the Remote control and ultrasonic sensor for sensing, LEDs/ beep device( like an active buzzer). When the sensor senses an obstacle within

[2020-02-27 17:25] pra-dan commented on #32
#9

[2020-02-27 17:33] thekunalsaini commented on #13
@derekdunes

[2020-02-27 17:37] thekunalsaini opened #33 "Write MicroPython examples and tools for Portenta project"
Libraries and tools

[2020-02-27 17:38] thekunalsaini commented on #33
Hello, @alranel open direct communication channel as said by you :)

[2020-02-27 17:39] thekunalsaini commented on #33
what type of tools you require for portenta and where we would test example code for portenta ?
Please tell @alranel

[2020-02-27 17:40] NitishGadangi opened #34 "New Project: Android app with IDE and Examples for various libraries"
### Introduction
Hello, I am Nitish Gadangi. I'm an Electronics and Communication Engineering student, specializing in developing high-quality Android and Web Applications. Currently doing my B.Tech in JNTU Hyderabad.\
Have a look at my complete profile here https://nitishgadangi.github.io/
### Idea Proposal
I would like to post a new project idea for GSoC that can become a kind of host applicatio

[2020-02-27 17:44] NitishGadangi commented on #34
hey @alranel bro,\
It will be more intuitive to create a Gitter/Zulip/Slack channel for community discussions.
Please consider creating one, if not available now.

If there is one available already, please help me in finding it.

[2020-02-27 18:33] pra-dan opened #35 "Writing Regression Example for Portenta | GSoC 2020"
Hello everyone !
I am **Prashant Dandriyal**, a final year student of **Bachelor of Technology in Electronics and Communication Engineering**. My past experiences with Embedded systems has been an invigorating one. Beginning from simple Home Automation projects, which mainly used electro-mechanical components and (user-friendly 8 bit micro-controllers like) Arduino Uno, the journey turned towards

[2020-02-27 18:57] alexandrefresnais opened #36 "Write MicroPython examples and tools for Portenta"
My name is Alexandre Fresnais. I am French and I am studying at EPITA engineer graduate school.

## Abstract

My purpose is to write many examples and tutorials for Portenta board.
I want them to be clear as much as possible to be accessible for every beginners.
Of course, I would like to gradually make them more difficult and more technical.

Then, when I will have familiarize myself with the tea

[2020-02-27 19:04] pra-dan commented on #35
As a conclusion of #24, I have gone through the guide and would like to clarify that the question 1 emphasizes on : applying for 2 ideas in a _single proposal_

[2020-02-27 20:04] Chester-King commented on #25
Hello @alranel

So I was wondering from where I should start and I found this simple simulator where we can actually run MicroPython scripts

So I developed this very basic MicroPython Script of **sweep** for servo motors

[code]

I would love to know if I am going in the right direction i.e. do we have to write MicroPython example for the Portenta board just like in the Arduino IDE it is given fo

[2020-02-28 01:59] hmzakhalid commented on #21
Hey @alranel , I have a question.
there are alot of issues in https://github.com/arduino/Arduino regarding Adding and Making some Modifications in the Libraries.
I wanna ask, is there some standard procedure that you have to follow before you can make some changes?
and How would one remove a Library from there?
Thanks

[2020-02-29 19:06] lorforlinux opened #37 "GSoC 2020 - deepaklorkhatri007"
Hi,
My name is Deepak Khatri and I am pursuing B.E. from Netaji Subhas Institute of Technology, New Delhi, India. I want to work on this project this summer.

I have created a pull request arduino-libraries/SD#73 which is an initial step in fixing the issue of incompatibility in error messages within different examples of SD library. I have tried and tested the code on Arduino UNO before making th

[2020-02-29 19:10] lorforlinux commented on #37
I am interested in the following project,

I will work on solving another issue now and let you know here only :)

[2020-03-01 08:49] yvkrishna opened #38 "Project : Writing MicroPython , JerryScript (JavaScript) and examples and tools for Portenta"
Hey Guys,
I am Vedha Krishna from Amrita Viswa Vidyapeetham ,
This year i want to participate in gsoc 2020 and being a ECE Student i am much more connected to this project. I have done quiet a few projects using Uno and Nano.I have recently worked on a project integrating arduino with bolt IoT and wrote a conference paper. I believe that this board would definitely help many researchers in robotic

[2020-03-01 09:06] yvkrishna commented on #38
Hello
How to contact the mentor for protenta. I have few doubts

[2020-03-01 10:36] vaibhavjain30699 opened #39 "Write examples for official libraries"
Hey, My name is Vaibhav Jain, a 3rd-year student at the Indian Institute of  Information Technology and Management, Gwalior. I have worked with Arduino Uno in many of my projects including an "Intelligent Queue Management System using RFID". I started working with Arduino in class 12th and since then I have been working with it to create many projects.

I would like to work on the project "Write e

[2020-03-01 11:18] ayushontop commented on #13
Yeh

[2020-03-01 12:36] thekunalsaini commented on #13
Thanks all to show interest

[2020-03-01 19:16] msarimhassan commented on #39
Hey, My name is Sarim Hassan,a 2nd year student of computer sciences at University of Lahore. I have worked on many university projects in c++. I want to work in an organization so that i can familiar with the market environment also i polish by skills .
I would like to work on the project "Write examples for official libraries"

[2020-03-01 20:49] Shobhs13 commented on #39
Hello! My name is Shobhit Sinha, a 2nd-year student at Thapar Insititute of Engineering & Technology, Patiala. Over the course of my stay, I've done projects on Arduino UNO for buggy and automated farm system.

I would like to work on the project "Write examples for official libraries".

Looking forward to work with the community.

[2020-03-02 05:36] thelowercaseguy opened #40 "GSOC'20 - Contributing to Arduino!"
Hello Arduino community!

I am Gokul, a 2nd-year undergrad from India. I would like to use this issue tracker to introduce myself and list the projects I want to contribute to.

Having had my hands dirty on various MicroPython projects on various boards like the ESP8266, the Sparkfun Pyboard, I have come to a realization that there barely any official examples for a beginner to begin with. But, th

[2020-03-02 05:42] gokulp01 commented on #40
I am also attaching to this issue tracker, a pull request (which solves a very persistent issue), which is generally the first step to contributing :)

https://github.com/arduino-libraries/Audio/pull/2#issue-382007475

[2020-03-02 06:57] abhstract opened #41 "Contributing to Arduino"
Hello everyone,
I am Debraj Maji a second year under-graduate from the department of Electrical Engineering Indian Institute of Technology Kharagpur. While I am new to open source I am fairly experienced about git and Arduino . Would like to contribute to the project ,discuss some new ideas and bring them into action.

[2020-03-02 08:46] sakshiseth commented on #39
Hey, I'm Sakshi Seth, final year student at Banasthali Vidyapith. Using Arduino UNO, I have built BMI calculator for a company named, "One Key Care" as a free lancing task. Currently I'm working on a project over GoLang for HackerRank, Bangalore, India.
I am interested to contribute to "Write examples for official libraries".

[2020-03-02 10:11] atharva-sundge commented on #1
Ok sir, and thanks for replying @alranel
I wanted to contribute  this project(Write MicroPython examples and tools for Portenta), please guide how to proceed further.

[2020-03-02 12:09] ghost commented on #41
I would like to port the algorithms standard template library (only some specific ones) to the portenta board in micro python because I have read in some forums that the uno and the mega don't have support for it. I don't know how capable the hardware will be but at least it will be worth trying.

[2020-03-02 13:27] pratikghule opened #42 "Introduction for GSoC 2020"
Hello everybody…Myself Pratik Ghule.
I am currently doing my Msc in computer science at Pune University in India.
I am topper of my class since my Bsc computer science.
I have scored a out off marks in maths.
I am 22 years and begin active with gsoc since 3 years.
My interested technologies are C,Cpp,Java,php,adv.java,adv.php,android,web development,game development,and many more.
I have done two

[2020-03-02 15:36] ToSeven commented on #42
Niu bi  🐂!!!!!!!!!!!!
you are so big!

[2020-03-02 16:55] mgtm98 opened #43 "Writing Examples in Micropython for Portenta board"
I am Mohamed Gamal, a 22 year old Computer Engineering student from Egypt (3rd year Ain Shams University) and i'd like to introduce my self for GSOC20 .

 I started studying  programming since I was 15 years old. Since then I studied many languages in various fields
1.  (HTML, JS, CSS) for web devolopment
2. (JAVA - C#) for desktop apps

In the university I studied C,C++,python and for the first t

[2020-03-02 17:35] mgtm98 commented on #43
### **Samples of uPython code**
Web server example (server library https://github.com/mgtm98/Nodemcu-WebServer)
[code]

[2020-03-02 17:37] pratikghule commented on #42
Ya I am quite a good writer!

[2020-03-02 17:38] pratikghule commented on #42
how should I begin for GSoC and contribution for org? can you guide?

[2020-03-03 01:02] anaicagrouver opened #44 "Write MicroPython examples and tools for Portenta"
I am Anaica Grouver, a sophomore Computer Science Engineering at PES University, India. I have come to know about the open source project to write MicroPython examples and tools for Portenta. This project immediately caught my attention as it is a brand new technology. I am extremely keen to take up this assignment as it will allow me to learn to use dual processor to deliver low latency operation

[2020-03-03 06:07] vedrocks15 commented on #9
Is there any online platform or simulator available to run the portenta h7 board ( like Proteus or circuito.io) ?

[2020-03-03 07:00] vedrocks15 opened #45 "Introduction for GSOC 2020"
I am Vedant Joshi, 20 year old Computer Science student from Indian Institute Of Information Technology Kottayam & this tracker provides a brief idea about my work with the Arduino platform.

I have proficiency in the following languages :
- Python (Including MicroPython)
- Embedded C
- Java (Oracle Certified)

Since 2017 I have been working with Arduino boards. I have completed projects ranging f

[2020-03-03 14:31] alranel commented on #17
@shivang2k as of now, we don't have any mentors available for such project because a native app is not in the roadmap.

[2020-03-03 14:39] alranel commented on #15
You can go through the repositories in https://github.com/arduino-libraries (whose documentation is at https://www.arduino.cc/en/reference/libraries) and start from one that has no `examples/` directory.

[2020-03-03 14:40] alranel commented on #13
@thekunalsaini we currently have no mentors available for such project, because a native app is not in the roadmap. Examples should stay in the `examples/` directories of the libraries and be documented on the website at https://www.arduino.cc/en/reference/libraries

[2020-03-03 14:42] alranel commented on #12
@thekunalsaini advanced examples would be best. I'm closing this issue as it's a duplicate - let's keep just one issue per student.

[2020-03-03 14:42] #12 closed

[2020-03-03 14:42] thekunalsaini commented on #13
@alranel Can I mentor this project?

[2020-03-03 14:46] thekunalsaini commented on #33
I have made it first other all will make an duplicate @alranel

[2020-03-03 15:04] alranel commented on #9
@PrashantDandriyal the Portenta board will be sent to the selected students. Since it's not currently available, you can still provide your contributions to one of the projects listed at https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md#during-the-application-phase-february-20th---march-31st

[2020-03-03 15:05] #9 closed

[2020-03-03 15:21] Rameshwar-dhakad opened #46 "Writing Examples for Official Libraries"
Hello everyone
I am Rameshwar Dhakad 2nd year ECE undergraduate at National Institute of Technology Karnataka, Surathkal. I am new to GSoC. I am interested in" writing examples for Official libraries". I have used Arduino UNO, Atmega in some of my projects like Line and Light Follower Bot, automatic pill dispenser and many more. I am very much enthusiast to participate in this program.
I have one

[2020-03-03 15:39] alranel commented on #7
@ken-suga there's no reason why no examples were written for some libraries. That's why we need to write examples where needed :)

Hints for everybody:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/bl

[2020-03-03 15:39] #7 closed

[2020-03-03 15:40] alranel commented on #5
@Captain-Stack what task are you interested in?

Hints:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but no

[2020-03-03 15:41] alranel commented on #5
@Captain-Stack any example about using MicroPython with the Portenta board is welcome :)
For instance, you might want to cover all the hardware peripherals of the board. Or you might want to port the many existing Arduino examples.

Hints for everybody:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more detai

[2020-03-03 16:03] thekunalsaini opened #47 "GSoC 2020 - thekunalsaini"
I am Kunal Saini, 20 year old Computer Science student & this tracker provides a brief idea about my work with the Arduino platform.

I have proficiency in the following languages :

Python (Including MicroPython)
Embedded C
Java
C++
Since 2017 I have been working with Arduino boards. I have completed projects ranging from light blinking to making a flight controller on Arduino UNO board. I also h

[2020-03-03 16:11] thekunalsaini commented on #33
I am Kunal Saini, 20 year old Computer Science student & this tracker provides a brief idea about my work with the Arduino platform.

I have proficiency in the following languages :

Python (Including MicroPython)
Embedded C
Java
C++
Since 2017 I have been working with Arduino boards. I have completed projects ranging from light blinking to making a flight controller on Arduino UNO board. I also h

[2020-03-03 16:14] thekunalsaini commented on #47
Mentioned my project in this issue

[2020-03-03 16:17] thekunalsaini commented on #47
https://github.com/arduino/summer-of-code/issues/33
https://github.com/arduino/summer-of-code/issues/13

[2020-03-03 16:18] thekunalsaini commented on #33
These are some examples made by me in Micropython

[Arduino2.txt](https://github.com/arduino/summer-of-code/files/4282382/Arduino2.txt)
[Arduino.txt](https://github.com/arduino/summer-of-code/files/4282383/Arduino.txt)

[2020-03-03 16:19] thekunalsaini commented on #33
@alranel Please see my initial effort.
Thank you,
your comments motivate us @alranel

[2020-03-03 16:31] alranel commented on #11
Hi all! I'm going to give some information about this project.
The selected students with a project related to the Portenta board will be provided a Portenta board for free, along with access to the software we're writing for it.
The data sheet of the board can be found here: https://store.arduino.cc/usa/portenta-h7

Any example showing how to use MicroPython on the Portenta board is welcome, so u

[2020-03-03 16:37] alranel commented on #3
Hello everybody, some hints for you:

* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue

[2020-03-03 16:56] alranel commented on #4
(@SahanWickramage, let's keep one issue per student as an individual communication channel - feel free to open your own issue!)

@sciamp-dev, thank you for your message. We added the "good first issue" to a few issues there. Let me know if you have any more questions :)

[2020-03-03 16:57] alranel commented on #2
Hello! Here are some hints for you:

* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue

[2020-03-03 16:57] #2 closed

[2020-03-03 16:58] alranel commented on #1
Hello @a-v-s-coder,

* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue per student! wri

[2020-03-03 17:00] alranel commented on #33
I'm closing this one as you opened #47. Let's have only a single issue per student

[2020-03-03 17:00] #33 closed

[2020-03-03 17:01] alranel commented on #13
@thekunalsaini I guess you are applying as a student, not as a mentor.

I'm closing this one as you opened #47. Let's have only a single issue per student

[2020-03-03 17:01] #13 closed

[2020-03-03 17:08] alranel commented on #18
The things you describe already exist. You'll find such projects in [Project Hub](https://create.arduino.cc/projecthub), in the forum and around the web.  A GSoC project should be about _writing new software_ rather than creating bots with existing code. I suggest you have a new look at the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (it was updated) to find inspir

[2020-03-03 17:08] alranel commented on #18
But if you want to pursue the ideas you mentioned, you should explain how your project will be different from the existing ones and thus what _new_ code are you going to write.

[2020-03-03 17:10] alranel commented on #21
@hmzakhalid can you point me to one of those issues?
In general, you'll find libraries in https://github.com/arduino-libraries
Each library has its own examples (if any) under the `examples/` directory.

[2020-03-03 17:11] thekunalsaini commented on #33
-

[2020-03-03 17:11] thekunalsaini commented on #33
okay

[2020-03-03 17:12] alranel commented on #25
@Chester-King that is a good start, if it works :-) If you are accepted as a GSoC student you'll get a Portenta board so that you can test your code. You'll need to connect hardware to it to test the various features.
Porting the Arduino examples to it would be a good idea.

[2020-03-03 17:34] alranel commented on #26
Welcome!

Some hints for you:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue per stu

[2020-03-03 17:35] alranel commented on #28
Welcome!

Some hints for you:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue per stu

[2020-03-03 17:37] alranel commented on #29
Wecome, Ioannis!

Your idea seems very interesting. Feel free to ask any questions should you have.

[2020-03-03 17:41] alranel commented on #30
Welcome!

Some hints for you:
* make sure you read the [ideas list](https://github.com/arduino/summer-of-code/blob/master/ideas.md) (we recently added more ideas and more details)
* in order to write your proposal, follow the [guide](https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md)
* for any question, use this issue tracker and we will answer (but note: only one issue per stu

[2020-03-03 17:43] alranel commented on #31
@senpinaki222 actually, there are many tutorials around the web that show how to communicate with an Arduino using the serial port. :) I suggest you look at the ideas list to get inspiration about something that is actually needed.

[2020-03-03 17:49] atharva-sundge commented on #1
Thanks, @alranel sir for replying.
 - I went through the updated ideas list.
 - Also, I get familiarised with Portenta specification available official site
 - Now, I am trying to implement MicroPython .

[2020-03-03 21:25] mgtm98 commented on #43
@alranel
Is it fine to implement new libraries (ROS lib.) in upython or should i stick with the existing ones and write example with them?
Is there an available upython build for Portenta or It's not available yet?
finally... I sent a mail but didn't get an answer soo kindly can u check it😅😅

[2020-03-03 22:48] santiagoCamp opened #49 "Introducing Myself"
Hi! My name is Santiago Campos, i'm currently on my last year of university, i'm majoring in Mechatronics Engineering, i'm really interested in collaborating with you in GSoC, i'd like to coolaborate in the examples of libraries, i've worked for over 3+ years with Arduino and i'm quite familiar with the use of it and the development boards, i just have one question regarding the bug-fixing, what d

[2020-03-04 02:17] hmzakhalid commented on #21
@alranel  There were alot of Issues at the time i posted about modifying some library and Adding a library as well. I guess they were all resolved.
But they were similar to This one https://github.com/arduino/Arduino/issues/9832
I'll try to resolve this one myself and Do my first contribution to the Arduino Community

[2020-03-04 03:08] sh-mug opened #50 "Introduction for GSoC 2020 : Write examples for official libraries"
This is the issue I set up by mistake.

[2020-03-04 03:11] #50 closed

[2020-03-04 03:14] ken-suga opened #51 "Introduction for GSoC 2020 : Write examples for official libraries"
Hello,
I am @ken-suga. I am an undergraduate student at a university in Japan. As I wrote on #7, I have some experience working with Arduino Uno and am a hobby user of AVR microcontrollers. I have C, C++, Python, Ruby and some assembly skills. I am highly interested in working on writing examples for official libraries, especially the mouse and keyboard libraries. Would you suggest me a bug that I

[2020-03-04 07:23] DmiitriyJarosh opened #52 "Libraries analyzer"
Welcome, my name is Dmitrii. I am 3d year student of Saint-Petersburg State University in Russia. My major is software engineering. I have some experience of working with Arduino boards and I am really excited with the idea of contributing to the software of Arduino. Personally, I want to work on the `idea of libraries analyzer`, as I am really interested in the topic of tools connected with stati

[2020-03-04 08:52] Pratyush1606 opened #53 "Introducing myself"
Hello! My name is Pratyush Jaiswal, I'm currently a 2nd-year student of Indian Institute of Technology Kharagpur majoring in Electrical Engineering. I'm really interested in collaborating with you in GSoC, I'd like to collaborate in writing MicroPython examples and tools for Portenta. I've worked for over 2+ years with Arduino and I'm quite familiar with the use of it and the development boards. P

[2020-03-04 09:05] aker99 opened #54 "GSOC 2020 Introduction: MicroPython and JerryScript (JavaScript) examples and tools for Portenta"
I am Himanshu Kotnala, 3rd year Computer Science undergrad student from DIT University Dehradun, India & this tracker provides a brief idea about my experience in developing IoT based projects.

I have proficiency in the following languages :
- Python (Including MicroPython)
- Embedded C
- JavaScript
- Java (Oracle Certified)

Since 2016 I have been working with Arduino boards and frameworks. I ha

[2020-03-04 09:31] PrashantDandriyal commented on #35
Hello,
In reference to the _Examples for the Portenta board_, as Arduino is working on the _Core_ of the board, should I skip the basic examples (assuming that Arduino will already have developed them) or develop them in process of preparing for the proposal ?
_Basic examples include blink, PWM, etc_

[2020-03-04 10:16] laxsuryavanshi opened #55 "GSoC20: TensorFlow Lite for Portenta"
I am Laxmikant Suryavanshi, Third Year Student at SGGSIE&T. I have started exploring deep learning and used various models for image classification and object detection kind of projects. For GSoC20, I would like to create some deep learning projects that can be deployable on micro-controllers like Portenta development board and can be used for various purposes. I have experience in building and tr

[2020-03-04 19:52] priyank23 opened #56 "Queries on MicroPython"
Sir,
My name is Priyank Lohariwal. I am an undergraduate computer science student of Jadavpur University, Kolkata, India, currently in my 3rd year.
I have been programming in C/C++ and Python for a while now. I also have some hands-on experience in using arduino boards for building basic automated bots such as gesture-controlled bots. I also have experience in using git.
I have read the project id

[2020-03-05 05:31] NitishGadangi commented on #34
@alranel
Bro, Could you please have a look into it and provide me feedback about the possibility of the project and availability of mentors for the same.

I think this project will help the Arduino community a lot.

[2020-03-05 07:43] Abnaby opened #57 "[GSoC] Introduction and Idea"
Hello Everyone,
my name is Mohamed. I am a 2nd-year student at Ain Shams University in Egypt. My major is a mechatronics Engineer. I have some experience of working with Arduino boards  I've worked for over 3+ years with Arduino and I am really excited about the idea of contributing to the software of Arduino. Personally, I want to work on the idea of writing an analyzer for Arduino libraries, as

[2020-03-05 11:14] ochui opened #58 "Analyzer for Arduino libraries"
Hello Everyone,
I am Ochui, Princewill from Nigeria. I have worked with a range of  Arduino boards including esp8266
and nodemcu. I have good knowledge of C, C++, Python, and JavaScript.

I am interested in the project which involves **writing an analyzer for Arduino libraries**. Looking forward to being part of the community. Thank you.

[2020-03-05 11:19] yshsaxena opened #59 "Problem in finding libraries suitable for portenta board and portenta carrier."
Dear Team Arduino,
Greetings,

I am Yash Saxena a second-year student pursuing a Bachelor of Computer Application, from Bhopal, Madhya Pradesh India.

I am a coding enthusiast, with over 5 years of hands-on learning in C, C++, and Python. With considerable knowledge of different operating systems includes Linux, macOS, and Windows. In a college project with knowledge of Arduino and its sketches, I

[2020-03-05 11:23] imraniac opened #60 "Introduction for project- "Writing examples for official libraries""
Hi, My name is Imran Alam, I m currently a Third Year Undergraduate Student from Jadavpur University studying Computer Science and Engineering, I m interested in working on the project titled "Writing examples for official libraries". I have beginner experience of working with Arduino and high proficiency in C++. In the past, I used to search how to use certain library functions (specific to my wo

[2020-03-05 15:45] yshsaxena commented on #59
Is Portenta supports module like sim800l etc? or we have to use portenta carrier.

[2020-03-06 12:43] ahmed-1997-hub opened #61 "write examples for official libraries and tutorials for official libraries and contributed libraries"
Hi, I am Ahmed Khaled electrical and communication engineer senior student from Egypt.
I work in arduino projects around 5 years from a simple tasks to a complicated task manly arduino UNO. I know many programming languages and experience in C and C++ so the understanding of any library will not be an issue. I work on my collage as a part time TA so i can  explain examples and tutorials for any co

[2020-03-06 17:08] sanjeev0008 opened #62 "Writing examples for library functions ..."
Hi this is Sanjeev kumaar an undergraduate student from India .....I have the skills on c c++ python ......and some assembly functions
..I would like to contribute for this issue ......and very exciting to work on it .

[2020-03-06 17:29] jmsingh6871 opened #63 "GSOC2020 - Jagmohan Singh"
I am Jagmohan Singh currently pursuing Btech(IT) from Guru Gobind Singh Indraprastha University and I  am working on Aurdinos Hardware and software for the last two years and now I want to contribute in Google Summer of Code to get some amazing experience while contributing in open-source. I want to work on these two ideas
Idea 1: write an analyzer for Arduino libraries
Idea 2: write examples for

[2020-03-07 05:57] hmzakhalid commented on #21
Is there any Documentation I can follow? Have anyone Written it yet about how to contribute to the community and how to solve a certain common issues?

[2020-03-07 09:15] per1234 commented on #21
Those are requests for addition to the Arduino Library Manager index. The indexer is not publicly available so there is no way for you to assist with that specific type of issue. For more information, see:
https://github.com/arduino/Arduino/wiki/Library-Manager-FAQ

Regarding your goal of writing examples for Arduino libraries, there is this guide:
https://www.arduino.cc/en/Reference/StyleGuide

I

[2020-03-07 19:25] wizofe commented on #29
Thank you @alranel!

I was thinking about creating similar tutorials, in the style of Tensorflow lite and Google Coral:
https://coral.ai/projects/minigo

or the Marshmallow sorter:
https://coral.ai/projects/teachable-sorter/

Is there anything you would like me to send for a PR, or should I write a proposal and send for feedback? :)

[2020-03-08 10:44] asucada opened #64 "GSoc 2020 - asucada"
Hello everyone! My name is Anshul Chandra and, I'm a third year student at BITS Pilani pursuing B.E. Electronics and Instrumentation Engineering. I'm interested in the Idea: Port FreeRTOS to Portena.

My end goal is to port various API's like semaphores, event flags,fixed/variable length  memory pools, etc onto the Portena Board. This would help synchronize and communicate effectively between laye

[2020-03-08 14:34] pra-dan commented on #59
I may not be completely helpful here but I take the opportunity to mention some snippets that may help you...Regarding

There is currently no support for the board, although it is almost time when we will have some of it.

and for

The instructions say:

So as far as I can infer, it means YES. Libraries should be considered as tools along with IDE add-ons applications ,etc.

[2020-03-09 05:17] #15 closed

[2020-03-09 06:01] panktishah62 opened #65 "GSOC 2020-pankti_shah"
Hello all !
My name is Pankti Shah, I am in my 2nd year at Pandit Deendayal Petroleum University, India studying Computer Science and Engineering.  I'm interested in working on the project titled "Writing examples for official libraries". I am proficient in C/C++ and I've built several projects using Aurduino UNO/Mega  boards which include intelligent cleaning robot, object detection and line foll

[2020-03-09 14:10] ash-xyz opened #66 "Write examples for official libraries"
I think there's no better way to learn than to teach.

Hey there, I'm Ash.
I'm a Computer Science student in University College Dublin and I'm keen to learn anything and everything that I can!

[2020-03-09 16:57] ochui commented on #58
Hello @mbanzi , I have to questions I would like to ask.

[2020-03-09 18:29] graydonhope opened #67 "Cool & Clear Examples for Servo Library!"
Hey Arduino community!

I have been looking into the official Arduino libraries and see that one of the libraries doesn't have many examples. I believe we could improve the **Servo** library by writing some crystal clear code examples designated towards motor control. I want to focus on motor control since it is so prominent in the RC community (which in itself is very large).

I already have the

[2020-03-10 03:27] ToSeven opened #68 "GSOC 2020 Introduction:Idea: write examples for official libraries or Idea: write MicroPython examples and tools for Portenta"
Hello everyone!
I am Jack, 21 years old, 3rd-year student majoring in computer science at Wuhan University. I have done some work on embedded development in my colleague, such as. the system design and implementation of  Quadrotor based on STM32 controller. So I have a rich experience for it. What is more, I have mastered the following languages and skills.
* C/C++ in Linux
* Python
* Makefile/Cma

[2020-03-10 03:58] Shobhs13 opened #69 "Write examples for official libraries"
Hello! My name is Shobhit Sinha, a 2nd-year student at Thapar Insititute of Engineering & Technology, Patiala. Over the course of my stay, I've done projects on Arduino UNO for buggy and automated farm system.
I would like to work on the project "Write examples for official libraries".
Looking forward to work with the community.

[2020-03-10 05:46] vinay-lanka opened #70 "GSoC 2020 - Vinay Lanka - Network discovery support to arduino-cli"
### Introduction
Hey!
I'm Vinay Lanka, a 20 year old ECE undergraduate at Vellore Institute of Technology.
I am really excited to hear that Arduino is a mentoring organisation for GSoC 20. I've been using and tinkering with Arduinos since 6th grade. My earliest memory of the Arduino IDE is the splash screen that read,

and that quote had me wanting to contribute to the first platform that I have c

[2020-03-10 06:42] npv12 opened #71 "Gsoc 2020 Nedungadi Pranav V"
Hello all !
My name is Nedungadi Pranav V, I am in my 1st year at IIT Bhubaneswar, India studying Mechanical Engineering. I'm interested in working on the project titled "Writing examples for official libraries". I am proficient in C++ and Arduino, an intermediate in python and I've built some projects using Arduino UNO/nodeMCU which include, projects for fests like Techkriti, maze solving bots, R

[2020-03-10 09:12] djdo opened #72 "GSoC 2020 - djdo"
Hello, my name is Diogo and I'm an Embedded Systems Master student from Portugal.
Recently I've been dealing with real-time systems and multitasking, working a lot with FreeRTOS and Embedded Linux.
Right now I'm focused on compiler technology, computer architecture and an academic project regarding computer vision, AI and hardware acceleration in an FPGA.

For the Google Summer of Code, the ideas

[2020-03-10 15:00] kanishchugh opened #73 "GSoC 2020-Kanish Chugh"
Hello all !
My name is Kanish Chugh, I am a 1st year student pursuing  Electronics and Communications Engineering and am interested in working on the project titled "Writing examples for official libraries". I am proficient in C++ and Arduino. Intermediate in python and I've built many projects using Arduino UNO/MEGA/NANO which include, projects like Brain controlled(using neurosky headset) hospit

[2020-03-10 15:00] graydonhope commented on #67
@alranel I am looking for some feedback on this idea and how I could make it more involved.

Thank you!

[2020-03-11 04:51] HitbyUoft opened #74 "Inquiry abut Project 1 : Write an analyzer for Arduino libraries"
How many aspects are we looking to check, you guys mentioned some examples but if you could break down the aspects we want to check foe each library ??

[2020-03-11 04:54] HitbyUoft commented on #74
Everyone is giving their resume so I will too.
I am Aryan Bansal, first year electrical engineer at University of Toronto Canada. I have already done a advance level course in c and have great knowledge of C Language.
I have also been to Robotics Nationals in FTC that uses Aurdino as its Brain. I am beginner tough. I don't have much knowledge of C++ but I will learn necessary code for this project

[2020-03-11 06:35] BeAsTmAsTeR169 opened #75 "Gsoc2020:-Analyzer for Arduino libraries"

[2020-03-11 09:35] MRNIU opened #76 "Gsoc2020: port FreeRTOS to Portenta"
Hello, everyone!
I'm interested in the work of porting the FreeRTOS to Portenta. I have experience in developing operating systems and using rtos. And I have written the compatibility layer of Arduino for AliOS-Things.

This is my operating system work, it is not finished yet: [SimpleKernel](https://github.com/MRNIU/SimpleKernel)
And this is the Arduino compatible layer I wrote for AliOS-Things: [

[2020-03-12 04:39] dushyant18033 opened #77 "Write MicroPython examples and tools for Portenta - Dushyant Panchal"
Hi,
I am Dushyant Panchal, a second-year B.Tech Computer Science and Engineering student from Indraprastha Institute of Information Technology, Delhi and I am looking forward to contributing to the betterment of Arduino and Portenta community.

The project I'm very much interested in and would like to give my best contribution to for GSOC 2020 is "Writing MicroPython examples and tools for Portent

[2020-03-12 04:51] dushyant18033 commented on #77
@alranel As you had asked I opened a separate issue for a private communication channel.

When will the MicroPython documentation for Portenta be available?

I have submitted the draft proposal on the GSoC portal and waiting for the review.

Thanks

[2020-03-12 06:19] santhoshmathavan opened #78 "GSoc-2020: Libraries for Arduino and Portenta"
Hey all,
This is Santhosmathavan K currently pursuing my M.Sc Software systems (Integrated program). I am interested in developing Libraries for Arduino and Portenta boards. I completed a 6 months internship as a Junior Firmware developer and having good experience in working with Arduino UNO, MEGA boards. Interested in developing serial communication examples for Arduino boards to other developem

[2020-03-12 07:15] thekunalsaini commented on #47
@alranel I have written some basic example on micropython
Please have a look
[Arduino.txt](https://github.com/arduino/summer-of-code/files/4322758/Arduino.txt)
[Arduino2.txt](https://github.com/arduino/summer-of-code/files/4322759/Arduino2.txt)

[2020-03-12 07:16] thekunalsaini commented on #47
Currently working on jerryscript and micropython

[2020-03-12 12:04] hailcpy opened #79 "Writing examples for library"
Hello, i am from india. I have been working with arduino and other development boards(stm32,esp32) supported by arduino ide for the past 4-5 years. It had helped me and others electronic hobbyists like me. I wanted to contribute something to this community to thank them. So i have decided to write examples for some arduino libraries which do not have sufficient examples to provide information abou

[2020-03-12 16:05] mash197 opened #80 "libraries Examples"
My name is Mohamed Lotfy, i'm a computer engineering student and an Arduino user. I'm a finalist in the CodeGeist 2018 hackathon and i have previous experiences one of then is being an intern at Microsoft advanced technology reasearch lab.

Here is a sample of my contribution to the Servo library :
https://github.com/arduino-libraries/Servo/pull/40#issue-387322116

And i will explain precisely my

[2020-03-12 18:13] pr3dat0r2201 opened #81 "GSoC 2020 - Arunaabh Singh"
Greetings!
My name is Aruaabh Singh, I am a first-year Electronics and Instrumentation undergraduate at Birla Institute of Technology and Science, Pilani.
I am interested in the Idea: **Write examples for official libraries**.
I have experience in both high and low levels of programming languages like; JAVA, Python, and C
I have also worked with Arduino Uno/Mega, ATMEL/AVR microcontrollers.
My goa

[2020-03-13 03:34] AsherThomasBabu opened #82 "GSoC 2020 - Examples for Libraries"
I am Asher Thomas Babu, a 2nd-year Electronics and Communication Engineering Undergraduate student at the College of Engineering Chengannur, Kerala, India. It gives me great joy to see that my Favourite Development Board is part of the Google Summer of Code 2020. I have been working with the Arduino on various projects based on it for nearly 4 years now and have acquired a great taste in curating

[2020-03-13 07:04] panktishah62 commented on #65
@alranel @per1234
How many examples do we have to write for one library ?
Like, I am interested in writing examples for 3 libraries :
1. Keyboard Library:
i) It does not have enough examples for modifier keywords, I would like to implement codes for using different functions.
ii) Also it does not have any examples for shortcuts that use 3 keys simultaneously (for ex: CTRL + ALT + "q")

2. Mouse Li

[2020-03-13 09:11] AsherThomasBabu commented on #82
Referenced below are some of the many pull requests I plan on making to the Library Examples

1. https://github.com/arduino-libraries/Mouse/pull/13#issue-387588776
2. https://github.com/arduino-libraries/Mouse/pull/12#issue-387588351
3. https://github.com/arduino-libraries/LiquidCrystal/pull/29#issue-387586645

[2020-03-13 12:39] Derekduke opened #83 "[GSoC2020]Porting FreeRTOS to Portenta and Writting Project Templates (proposal wait feedback)"
My name is derek deng, and I come from China. I am a postgraduate student at the Key Laboratory of Mobile Edge Computing at Xidian University. My current research direction is embedded distributed machine learning. I am also a 5-year Arduino fan. In the Arduino student organizations founded at my undergraduate level, I teach students to make robots using Arduino development boards and sensors. At

[2020-03-13 14:01] pr3dat0r2201 commented on #81
Hello,
I have changed the PWM frequency for M3 and M4 (controlled by the D21).
https://github.com/arduino-libraries/MKRMotorCarrier/pull/19#issue-387791302
Thanks.

[2020-03-13 18:35] vinay-lanka commented on #70
#### Update
I would really like to contact someone to know more details about this project

[2020-03-14 09:10] FerociousYogi opened #84 "Creating examples and tutorials for Arduino libraries"
Hi,

I am a second year undergraduate of Computer Science at Indian Institute of Technology, Madras. I would like to create new examples and tutorials for the existing libraries that are so widely used by the Arduino users. I hope that these examples can alleviate the struggles of many. Please let me know if I can start working on this project. Also, please let me know what is expected of such a p

[2020-03-14 13:11] zainamir98 opened #85 "GSoC '20 Introduction: Porting FreeRTOS to Portenta"
Hi everyone!

My name is Zain Amir Zaman and I am a 3rd year electrical engineering student at the National University of Science and Technology (NUST) in Pakistan. While reading the ideas list I came across a proposal to port FreeRTOS to Portenta, which piqued my interest as I have ample knowledge and experience on working with low-level hardware and programming in C. I hope to work with you in t

[2020-03-14 14:23] AsherThomasBabu commented on #82
Hey, @alranel I'd appreciate it if you could give me some guidance on this.
Thanks

[2020-03-14 18:57] alranel commented on #74
Hello @HitbyUoft, the ideas page includes some [examples](https://github.com/arduino/summer-of-code/blob/master/ideas.md#idea-write-an-analyzer-for-arduino-libraries) of things we might want to check. Feel free to add any further ideas in your proposal. The listed examples are already quite complex so I suggest to focus on them.

[2020-03-14 18:59] alranel commented on #83
Hello @Derekduke, feel free to propose a project which is not on the list but keep in mind that we might not have a mentor for that particular task.

[2020-03-14 19:54] #56 closed

[2020-03-14 22:15] Arsh0508 opened #86 "GSoC 2020! Writing Examples For Arduino Libraries"
Hi everyone!

I am Arsh Mahajan, a third year computer science undergraduate student at Indian Institute of Technology Patna (IIT Patna), India.
I came across the project idea for writing examples for arduino libraries without much examples. Honestly I believe this is a great idea and needs to be implemented as sample codes are a big help to beginners and even experienced users who are new to the

[2020-03-15 06:31] dushyant18033 commented on #77
Also, will the documentation for MicroPython in Portenta also be released?

[2020-03-15 07:24] gurusha01 opened #87 "bug fixes in arduino"
Hi guys!!
I'm Gurusha , 1st year undergraduate from Indian Institute of Technology Delhi ,Electrical Engineering department. I am practicing code from the last 2.5 years now and C++ is my primary coding language , I also know SML and somewhat arduino . I am very much interested in writing new examples in official libraries , for that I need to qualify that bug fixing test , only if i get to know w

[2020-03-15 08:42] per1234 commented on #87
If a bug has been fixed, the associated issue report should be closed. We do a fairly good job of closing issues, so I don't think you'll find too many that should have been closed. If you do, and can verify the issue was fixed, you are welcome to point them out here.

Just look through the issue tracker in any of the repositories that were listed under the "how to apply" instructions:

- https://

[2020-03-15 19:15] hailcpy commented on #79
i have decided to write examples and also upload tutorial for the following libraries -
1) Wifi library - i have written one example to handle multiple clients, to control servo   and want to
        write more some examples for the library
        https://github.com/arduino-libraries/WiFi
2)Servo - Since all servos are not equal and they require little different duration of maximum and
        mi

[2020-03-16 05:15] ToSeven commented on #83
Can Arduino afford the work about AI calculation?

[2020-03-16 05:56] ashutoshshrm529 opened #88 "GSoC 2020 - Ashutosh Sharma"
Hello Everyone,
I'm Ashutosh Sharma, a Computer Science Undergrad from BITS Pilani, Rajasthan.
I commonly work on arduino projects and have been doing so for the past 3-4 years. I have experience in machine learning and have made arduino based projects such as a Micromouse ( https://github.com/BitsRobocon/MicroMouse_2020 ), efficient line followers and currently am working (with my robotics club -

[2020-03-16 06:55] Derekduke commented on #83
I have deployed a neural network on STM32 for image classification. For the H747 of Arduino's Portenta, it is easier to implement a network that only performs forward propagation.As for the performance, I don’t know until I get the board.

[2020-03-16 07:12] Derekduke commented on #83
Thanks for your answer. I will try to focus on the ideas on the ideas list, such as describing some experiences and details of FreeRTOS porting.
1.In which way is more appropriate about "proof of experience with the low level programming required for such task" as the ideas list description?Maybe show the porting source code of different boards I did before?
2.May I please put the github link of m

[2020-03-16 11:31] zaidMughal opened #89 "GSoC 2020 - Examples for how many libraries"
I'm Zaid from NUST. I have been working on arduino hobby projects since 2016. Now, after gaining sufficient experience, I want to write examples to help my fellow hobbyists.
I want to ask that at least how many libraries should we write examples of?
Thanking you in advance.

[2020-03-16 14:00] pankaj599 opened #90 "GSOC: port FreeRTOS to Portenta"
Hello Everyone,
This is Pankaj Kumar Vijayvergiya, currently pursuing  3rd year in Electronics and Communication Engineering, NIT Surat. I am working on the arduino projects for the past 3 years and currently working on Rover for the Indian Rover Challenge (https://pankaj599.github.io/rover/)
I have knowledge in Embedded system and hardware and knows programming languages like C, C++, python. Apar

[2020-03-16 15:28] graydonhope commented on #87
@per1234 There are some open issues which involve the website component. Is this something we are able to look into?

[2020-03-16 15:54] ScarySheep opened #91 "Writing MicroPython/JerryScript examples, tools and prototypes for Portenta with tutorials in ProjectHub"
**Who am I?**
Hi my name is Lee, Cheng-Chi and I’m a Mechanical Engineering major, CS minor student at National Taiwan University and I have been in a robotic lab for 1.5 years. I‘ve been experienced with Arduino and used it for the past four years. Projects I’ve done with Arduino are “Propeller-powered line tracing vehicle”, “Self-lift cable climbing machine” etc. Thus I’m proficient in topics of

[2020-03-16 16:20] graydonhope commented on #67
**Issues**
[Working with RS485 Shield Issue](https://github.com/arduino/Arduino/issues/9411)
[Working with Web Application Issue](https://github.com/arduino/Arduino/issues/9855)

[2020-03-16 23:06] lorforlinux commented on #37
Fixed the link for editor provided in the CustomCharacter example which was broken and replaced with a working editor link.
pull request: https://github.com/arduino-libraries/LiquidCrystal/pull/31

[2020-03-17 01:21] ausaafnabi commented on #86
Should I consider writing examples for core libraries only?

[2020-03-17 02:20] Derekduke commented on #68
Hello Jack!
I appreciate your talent very much. It seems that we share similar interests and can communicate more in the future. Good luck.

[2020-03-17 03:02] ToSeven commented on #68
哈哈哈哈 整中文吧😂

[2020-03-17 03:04] ToSeven commented on #68
这个项目不好申啊 感觉好多人了。。。。。

[2020-03-17 06:17] Chester-King commented on #25
Hello @alranel

https://github.com/Chester-King/MicroPython-NodeMCU-Installation
So, I was able to run MicroPython on NodeMCU. Here is the repository I created with the installation guide so that if anyone wants to try MicroPython on NodeMCU they can use this step by step guide. I will now start porting arduino examples in Micropython and test them on NodeMCU.

Thanks & Regards

[2020-03-17 06:58] ashutoshshrm529 commented on #88
As asked in the how-to-apply section, This is a link to the Pull Requests I recently submitted
to the ArduinoGraphics Library
 - https://github.com/arduino-libraries/ArduinoGraphics/pull/11
 - https://github.com/arduino-libraries/ArduinoGraphics/pull/15

to the Arduino_MKRGPS Library
 - https://github.com/arduino-libraries/Arduino_MKRGPS/pull/5

to the Arduino MKRTHERM Library
 - https://github.co

[2020-03-17 13:01] Robogeek95 opened #92 "write JerryScript (JavaScript) examples and tools for Portenta"
Hello,
I am Azeez Lukman and i am happy to be here, 3rd year Computer Science major from Lagos state university, Nigeria. I have experience creating arduino projects since 2016 and i taken many tutorial courses and documented my projects on instructables.

I have professional experience in JavaScript and C++, i also have experience using IoT , running node.js on arduino board with johnny-five. I r

[2020-03-17 15:54] WhymustIhaveaname opened #93 "GSoC - Introduce Myself"
I am Sun Youran, a senior student at Peking University majoring in Physics.

I have programmed with Arduino for 3 years. I did some great works with Arduino, including a fingerprint lock, an air condition monitor and many small projects. C and Python are my most familiar languages. I also have essential knowledge in assembly, operating system, computer network, database, and many other programming

[2020-03-17 18:52] Qs-F opened #94 "GSoC: Add self introduction"
Hi, Arduino team,

I'm Fumi TAKEUCHI, a Japanese Senior Undergraduate.

I want to work on `arduino-cli`, for the `network discovery functionality`.
Maybe, it seems what you need is some kind of `Bonjour`?
By reading [this issue](https://github.com/arduino/arduino-cli/issues/69), it looks network lookup (like https://github.com/brutella/dnssd 's LookupType or https://github.com/oleksandr/bonjour 's

[2020-03-17 20:35] dragonman225 opened #95 "Self introduction and questions about the idea: "Write JerryScript (JavaScript) examples and tools for Portenta""
Hello, I'm Wang Wen-Zhi (Alexander), currently studying EE at [National Chiao Tung University](https://www.nctu.edu.tw/en) in Taiwan.

I'm a JavaScript developer and I have created several Node.js projects. For now, [Notablog](https://github.com/dragonman225/notablog), [notionapi-agent](https://github.com/dragonman225/notionapi-agent), [NAST](https://github.com/dragonman225/nast) are some more mat

[2020-03-18 04:27] achen173 opened #96 "New Project Proposal: First Person View (FPV) and Image Detection with Portenta"
I’d Like to propose a new project for the upcoming GSoC, 2020. This project will be focused on Image Detection through a First-Person View Camera. Specifically, this project will utilize Portenta computation powers to run a pretrained neural network model (open source) for image detection in real time. Then, by using the onboard wireless module or by physically adding a transmitter (if need be), w

[2020-03-18 08:31] mightycandle commented on #18
Hello @alranel ,

I'd like to know, are there any mentors working in the field of Arduino for 3D Printing?
I'd like to introduce Home Automation for Arduino 3D Printers . (like for Arduino Materia 101)
(I have gone through the project forum and there was no project in this regard)

This project involves controlling the 3D Printer' attributes through arduino (Like motors for XYZ Movements , Stepper

[2020-03-18 15:18] kanishchugh opened #97 "Feedback Request"
Hello sir/madam.
I would request you for feedback for my proposal/application.
if possible please share feedback on kanichugh2001@gmail.com
The link to my proposal is down below:-
https://docs.google.com/document/d/1grFWisW2rSTzRclaoya1UYtioeZIfSdsnN-OUkgedqc/edit?usp=sharing

[2020-03-18 15:19] #73 closed

[2020-03-18 15:20] ayan-biswas0412 commented on #93
I am Ayan Biswas , a undergrad at Jadavpur University , Kolkata majoring in Electronics and Telecommunication Engineering .
As per my course curricula I have done several arduino projects ranging from opencv based trafiic signal detection car , basic line follower , bluetooth module based car and a smart door lock system using NFC cards etc. My comfortable programming languages are  C/C++ , pyhton

[2020-03-18 17:02] Inv3nt0r1 opened #98 "Write Examples for official Libraries - Practical Approach"
## Idea - Writing Examples for Official Libraries

### Hello,
My name is Durgesh Pachghare, a Computer Engineering Undergraduate from India. Arduino was the thing from which I started my learning and experiments in Robotics. I have 5 years of experience working with various Arduino boards, a large variety of sensors and actuators. I lead the robotics club in my college and I am a Technical Lead of

[2020-03-18 17:44] ayan-biswas0412 opened #99 "Introduction : MicroPython examples and tools for Portenta from Ayan Biswas"
**Who am I and my background of working ?**

I am Ayan Biswas , a undergrad at Jadavpur University , Kolkata ,India  majoring in Electronics and Telecommunication Engineering .
As per my course curricula I have done several arduino projects using **Arduino uno , Raspberry Pie, jetson Nano** ranging from **opencv based trafiic signal detection car** , basic line follower , bluetooth module based ca

[2020-03-18 21:39] OmarAli3 opened #100 "GSoC 2020|Portenta|Introducing myself"
Hi all!
I’m Omar Ali, an Egyptian undergraduate computer engineering student, I am studying at faculty of engineering at Shoubra, Benha University, I am always enthusiastic for problem solving and learning new programming and scripting languages and skills, I love developing embedded systems and worked a lot with arduino different boards (uno, mega, mini , esp8266) and atmega32 from very basic pro

[2020-03-19 08:02] AnantaSrikar opened #101 "Analyzer for Arduino libraries [or] Examples for official libraries"
Hey there! I'm Ananta Srikar, a first year Computer Science student from Mahindra Ecole Centrale, Hyderabad, India. I have a 5 year expertise with C++, and also do a decent amount of Android App development, using Android Studio. I'm really interested in contributing to the Analyzer of the existing libraries. I'm also ok with working on the Examples for The official libraries. I suggest we make an

[2020-03-19 09:12] ayan-biswas0412 commented on #99
I have written this short code i don't know is this the right start for your project or not @alranel Please guide me about that what kind of work is really needed for Portenta and what type of project proposal do you expect from me  such that i can turn in a right direction for GSOC'20 .

**This program is about the Driver Code for Adafruit neo pixels (WS2812 chip)**
[code]

Also I am quite  new i

[2020-03-19 11:32] Inv3nt0r1 commented on #98
Sample PRs Submitted:
https://github.com/arduino-libraries/Arduino_LSM9DS1/pull/8
https://github.com/arduino-libraries/Servo/pull/43

[2020-03-19 14:25] ayan-biswas0412 commented on #99
@alranel Can you please guide that what things must be included in my final GSoC '20 project proposal , actually i want to know that what things you want from me for this particular idea mentioned #99
Please guide me as early as possible .

[2020-03-19 14:55] karanankit01 opened #102 "GSoC'20 : Proposal FeedBack for "Write examples for the official libraries""
Hi @alranel,
I have mailed you, my proposal for feedback. Kindly look into it and please give your comments on it.
My email I'd:- karanankit01@gmail.com
Thanks,
Ankit Karan

[2020-03-19 16:53] mgtm98 commented on #43
@alranel

[2020-03-19 19:15] ayan-biswas0412 commented on #99
I have shared my draft proposal through my Dashboard of GSoC'20 Please mention in the comment of the draft if anything modification is required @alranel

[2020-03-20 08:08] therealbigzeez commented on #32
If you are unable to lay your hands on a board you can use [TinkerCad](https://www.tinkercad.com/), its free. It allows you to write code and simlate it.

[2020-03-20 08:23] vinay-lanka commented on #70
Hey,

I drafted a proposal for review, any guidance on how to proceed?
Should I upload a pdf on the GSoC dashboard, or should I mail it to someone for a review?

Thank You,
Vinay Lanka

[2020-03-20 08:56] thekunalsaini commented on #47
Hello @alranel,
Please provide some suggestion and feedback, Happy to see.

[2020-03-20 10:14] mightycandle commented on #18
Not just mentors directly into 3D Printing, mentor availability for any of the above modules is fine too.

[2020-03-20 10:46] hmzakhalid commented on #21
Submitted my first PR:
https://github.com/arduino-libraries/Servo/pull/44

[2020-03-20 11:25] zaidMughal commented on #89
I fixed issue 6 of liquid Crystal library.Please review and mearge it.:)
https://github.com/arduino-libraries/LiquidCrystal/pull/32

[2020-03-20 11:38] sam337 opened #103 "GsoC'20-Examples for official libraries(Arduino)|MicroPython Examples for portenta"
Hi,
I am Dhruv Sharma, an Electronics and Communication Engineering student. I am currently pursuing my bachelors in technology(ECE) in Maharaja Surajmal Institute of Technology, Guru Gobind Singh Indraprastha University. I always have zeal for the electronics and related stuff, like to build awesome things and programme them.
I have worked with different types of boards(UNO,Raspberry PI,) and use

[2020-03-21 06:23] hmzakhalid commented on #21
Hey @per1234  @alranel  , Can i change my Project? Actually I'm more interested in writing an analyzer for Arduino libraries. I've never done anything like that before and i really really wanna do it. I will learn so much new stuff and new concepts, solving different problems and it'll be wonderful to be coached by you guys.

[2020-03-21 09:01] SadafShafi opened #104 "Introducing myself at GSOC"
Hello everyone, I am sadaf shafi (aka Shaun on my blog).
I am in my sophomore year majoring in Computer Science, and yes technology happens to be my passion, about which I like to work consciously and sub consciously.
I was born and raised in a war zone(I still live there), where  focusing on anything other than basic life necessities was impractical, however,  when I was introduced to technology,

[2020-03-21 10:16] SadafShafi opened #105 "writing examples for libraries and write new Libraries for Arduino"
I already gave my introduction and here is the work I want to propose
I want to write examples for the following libraries
AudioZero
NTPClient
ArduinoLowPower
Arduino_JSON
Scheduler

other than that, I want to write other libraries which I believe are necessary for Arduino and aren't written yet.
1.  **A file system for Arduino**
   we dont have any good file system for Arduino board which would e

[2020-03-21 10:20] SadafShafi commented on #104
Alright, I have a question
Do we have to write examples for Arduino boards only,
Like I want to write whole new scheduler for other boards, but its there only for Arduino, I want it to be presesnt on other boards as well
Thank you

[2020-03-21 11:08] per1234 commented on #87
@graydonhope most of the website code and content is not stored in public repositories, so generally those issues will not be possible for community members to help with.

There are some exceptions though. For example, the Arduino Language Reference content is stored here:
https://github.com/arduino/reference-en
and we also have translations of that content to various languages:
https://github.com

[2020-03-21 12:11] therealbigzeez commented on #92
Currently the biggest problem that JerryScript has is that its **documentation** is non-existent. All you have is the code and no clue on how to use it on any given platform, making the learning curve steep.

Along side with my examples i also plan to write a good and beginner friendly documentation for JerryScript as  other developers would find it helpful and handy to write JerryScript  on the P

[2020-03-21 12:51] SadafShafi commented on #104
I already gave my introduction and here is the work I want to propose
I want to write examples for the following libraries
AudioZero
NTPClient
ArduinoLowPower
Arduino_JSON
Scheduler

other than that, I want to write other libraries which I believe are necessary for Arduino and aren't written yet.

**1.A file system for Arduino**
we dont have any good file system for Arduino board which would explo

[2020-03-21 12:52] #105 closed

[2020-03-21 12:52] pra-dan commented on #35
Hey @alranel I wish to add ML examples to run regression on the Portenta board, alternatively,
I would like to port the TensorFlow Lite for the Portenta board (which hasn't been done yet).
Please link me to any mentor handling that or some related work. I am getting familiar with the porting process for some time.

[2020-03-21 14:52] AbhinavMir opened #106 "[GSoC] Hi, I am Abhinav!"
I will be submitting a draft on JerryScript examples and libraries for Portenta. I am a junior at VIT, Vellore, majoring in CompSci. I have worked with Arduino since my Freshman year and worked on web development, blockchains and some core Computer Science. I use JavaScript as one of my core languages and supplement my projects with Arduino whenever needed (Like that one time I made a game control

[2020-03-21 15:58] tkhabia opened #107 "[GSoC] write examples for official libraries (self introduction)"
hello,
My name is Tanmay khabia. I am in my 4th semester in IIIT Hyderabad. I have been using Arduino for my various home automation projects like visitor counters, smart street light & smart greenhouse farming.
In my beginner days, examples have been very helpful in understanding how to write code for new sensors like dht11. And I wish to contribute to this as my GSoC project. I have already made

[2020-03-21 16:09] thesantatitan opened #108 "GSoC Introduction: Hi I am Dev"
Hi, I am Dev. I am a first-year undergrad at [IIITD](iiitd.ac.in).
I have made several projects using microcontrollers in the past. The two most notable are:

- A snake game in processing which uses wireless Bluetooth control with gyro sensors

- This [project](https://siddharth19111.wixsite.com/magicl) which uses a nodeMCU and Arduino nano. The code for it is available on my Github account.

I ha

[2020-03-21 16:17] tkhabia commented on #107
- Also, for the write MicroPython examples and tools for Portenta, what will be our interface with our board as our usual Arduino IDE will not work?
- If we are not using Arduino IDE are we also unable to use the libraries also?
- the examples which we write should only contain the board only or we can add extra components also like external servo motor, LDR or some other sensor actuators.

[2020-03-21 17:12] ashutoshshrm529 commented on #88
Hello @alranel @tigoe @per1234 ,

I have submitted my draft proposal through the GSoC dashboard. Could you all please review it and suggest changes.

Thank You

[2020-03-21 17:20] omarelhedaby opened #109 "Hello Arduino"
Testing GSoc Issue

[2020-03-21 17:32] AbhinavMir commented on #92
Hi @Robogeek95 , for basic documentation you can refer to https://github.com/jerryscript-project/jerryscript .
All the best!

[2020-03-21 21:12] MisterAwesome23 opened #110 "[GSoC'20] Name: Manthan Admane, Idea: write examples for official libraries"
***
**Purpose of this issue** : To initiate communication with Arduino community for GSoC20.

***

```Serial.println(Hello);```

- Final year _computer engineering undergrad_. Keen interest in electronics and experience with Arduino.
- Aiming to work on the idea- write examples for official libraries.
- Looking forward to it.

***

**Checklist: (February 20th - March 31st)**

- [x] Read the offici

[2020-03-22 05:19] per1234 commented on #107
Study the existing official examples for Arduino libraries. There are many of them. Use that as the reference.

The primary purpose of library examples is to provide a clear demonstration of the usage of the library to help people learn how to use it. There might be certain cases where an example showing a very common application for the library would be useful, but adding a lot of examples that a

[2020-03-22 05:31] rez39 opened #111 "Self Introduction for -Write examples for official libraries"
This is Rajashekar Reddy , a junior in Electronics and Communication Engineering stream at International Institute of Information Technology,Hyderabad (IIITH), India. I am an Undergraduate Research student working in the field of Internet of Things mainly on Algorithms for Data reduction aiming for low power consumption, Air pollution monitoring, smart cities and Machine learning for constrained d

[2020-03-22 06:24] Captain-Stack commented on #5
@alranel  thank you for your previous reply. In the application guide it is suggested to review the proposal by the mentor before submitting the final one.Can you please tell me how I can send my proposal for review ?

[2020-03-22 11:41] SadafShafi opened #112 "what about libraries not in github but are present on the official website"
Hello,
can someone tell me if we're are supposed to work only on the libraries mentioned here in github, or we can also contribute to that of other platforms, like` wire.h` happens to be for esp family and has a reference at Arduino.cc. what if I'd want to write examples for such libraries, is that allowed

[2020-03-22 11:51] per1234 commented on #112
All of the official Arduino libraries are on GitHub.

The idea specifically says "write examples for official libraries", so I think you should stick to examples for Arduino's official platforms.

If you mean the Wire library, this library is available for all official Arduino platforms. It's also available for many 3rd party platforms, such as the Espressif platforms. Generally, although the impl

[2020-03-22 12:15] #112 closed

[2020-03-22 12:36] rez39 commented on #111
@alranel I request you for feedback on the draft proposal I sent to the email summer-of-code@arduino.cc. and also through the GSOC Arduino page

[2020-03-22 12:39] rez39 commented on #111
I would like to ask if its possible to propose few projects (Intermediate and advanced level from end to end as a complete sensor and actuator node) for Projects hub under the examples for the official Libraries Idea, with no objective to add the examples to the official libraries.

[2020-03-22 12:46] rijalbasanta opened #113 "[GSOC] communication: Basanta Rijal"
Hello! This is Basanta Rijal, a Junior (3rd year) undergrad student in Electronics and Communication Engineering from Central Campus, Institute of Engineering, Tribhuvan University, Nepal.
I've had some knowledge and on field experience of the microcontrollers and microprocessors; as our course requirements as well as the projects in the Robotics Club in my college. This resulted in Arduino being

[2020-03-22 13:03] noob-master147 opened #114 "GSoC @ Arduino, JerryScript for Portenta 🤩"
### Chears to GSOC and Arduino Community
Hey developers out there, my name is **Divyansh Khandelwal**. I'm 20 years and a sophomore at Vellore Institute of Technology. Getting to see Arduino as a GSOC organization was like a dream come true for me.

#### Something About Me
I got hands-on experience with Arduino about 20 months back and since then my thirst for learning and building projects has in

[2020-03-22 14:31] SpookyCorgi commented on #91
Hi, I have sent a draft on 3/21. If possible, any opinion or suggestion would be helpful. Thank you.

[2020-03-22 16:05] amritanshu-kk opened #115 "[GSOC'20] My wish is to work on idea: port FreeRTOS to Portenta"
Hi There!
I'm Amritanshu Verma pursuing B.Tech degree with computer science engineering from Gurukula Kangri University, Haridwar, India.I'm a Developer Student Clubs Lead of my university at Google Developers.
My Projects:-
1.Chess game in C++
2.Multipurpose zero player game in C based on game of life algorithm.
( You can verify these projects in my github repository at @ amritanshu-kk )

I'm kee

[2020-03-22 17:26] AbhinavMir commented on #95
For your second question, I assume it's running on top of mBed.
Disclaimer: Not from Arduino!
All the best Alexander!
Abhinav

[2020-03-22 18:46] salisbuk7897 opened #116 "Proporsal Feedback"
Hi everyone,
   @alranel I have sent my proposal to your email and will love to get your feedback on it. Thank you!

Regards,
Salisu Ali

[2020-03-22 18:52] khushi02 opened #117 "Khushi Wadhwa - GSoC20 Applicant"
Hey! My name is Khushi Wadhwa and I am a student at Carnegie Mellon University. I have a lot of experience working with Arduino for both personal and hackathon projects. I have around 5-6 years of programming experience, but I am new to the open source community. I hope to work with Arduino this summer on building new examples for existing libraries.

Here is a link to my first example (submitted

[2020-03-22 20:31] electricSamarth opened #118 "Samarth Mathur - Gsoc2020 applicant"
I am a 2nd year student at PES university and I am interested to write MicroPython examples and tools for Portenta. I really want to code some existing classic examples like servo rotate,  LED blinking etc.

[2020-03-22 21:49] MisterAwesome23 commented on #110
Questions related to- Idea: write examples for official libraries

1. Where can I share my initial proposal drafts. Since I'm using markdown, should I convert it to a pdf or word and share it via GSoC official sharing option? Or is there any other way?

2. To finalize on the deliverable's and approximate milestones and dates, I wanted to know a rough expectation of 'how many' examples to be added.

[2020-03-23 02:19] sasilva1998 opened #119 "Steven Silva - GSOC 2020 Applicant - write MicroPython examples and tools for Portenta"
# Who am I?
I am a mechatronics engineering student, I will be coursing the seventh semester of ten by may. I am a open source and open hardware lover, like to contribute to these type of projects and have been doing that with github for about two year now. I am really interested and keen on every area involving robotics, ROS, microcontrollers, electronics, programming, AI and IoT, then I have bee

[2020-03-23 07:08] SadafShafi opened #120 "where do we send our proposal for feed back"
can someone please tell me where do I post/send my proposal to get feedback
Thank you for the help

[2020-03-23 07:24] rez39 commented on #120
<br/>
You could do that from GSOC's Arduino page by clicking submit your proposal, then follow the steps given in the page. You would need to share the google docs link with "anyone with link can comment" access or link of any other preferred sharing platform

[2020-03-23 08:30] hmzakhalid commented on #21
@per1234 Do i have to make my own crawler or can i use an Open Source one.. like Scrappy. I'll fetch the data through that from the [Libraries](https://github.com/arduino-libraries) and then run the Analyzer on the files.
Also i'm having trouble writing the Technical Details and Community Bonding Phases section of my Proposal. I don't know what to write there.
I'm sorry for all this, This is my fi

[2020-03-23 09:06] per1234 commented on #21
I'd say there is no point in reinventing the wheel if there is already a tool we can use for a component of the project. However, I am skeptical that Scrapy would be useful for this project.

The easiest solution would be to just grab the `repository` fields of http://downloads.arduino.cc/libraries/library_index.json.
That file contains all the libraries in the Arduino Library Manager index, inclu

[2020-03-23 10:36] AbhinavMir commented on #106
Hi @alranel , I have submitted my first draft! Open to questioning and any changes, thank you for your time!

[2020-03-23 11:26] JamolHojahon opened #121 "Add network discovery support to arduino-cli"
Hello, everybody!

I am Jamol, 1st year master of Russian-Tajik University, studying Computer Science in Dushanbe. I'm happy to find Arduino on the GSOC list.

I had some experience in web development with golang. Last year i learned and had experience in soft development and working with devices like cashcode, coinacceptor and printer custom VKP80II.

For this summer of code, I'd like to work on

[2020-03-23 11:44] alranel commented on #32
JerryScript can run on Portenta on top of mbed. See [this documentation](https://os.mbed.com/javascript-on-mbed/) for reference.

[2020-03-23 11:46] alranel commented on #34
@NitishGadangi I'm sorry, it seems there are no mentors available for that project.
Note that writing and compiling scripts from a mobile device is already possible thanks to [Arduino Create](https://create.arduino.cc).

[2020-03-23 11:50] alranel commented on #35
@PrashantDandriyal developing examples about using Tensorflow Lite on Arduino boards (also the classic ones such as the Nano) could be an interesting project. Make sure you detail the example projects you would like to work in the proposal.

[2020-03-23 11:52] alranel commented on #36
Hello @alexandrefresnais, make sure you have read the application guide in this repository and post your proposal through the GSoC procedure. Thank you!

[2020-03-23 11:52] pra-dan commented on #35
Thanks for replying @alranel. Please clarify some of my queries...

1) I do not have the nano board, so can Arduino provide it to me, if selected ?

2) Can the tensorflow Lite examples be developed for a single board (only the Portenta) or multiple (portenta + Nano)?

3) Is there any minimum number of examples i should go for ?

[2020-03-23 11:54] alranel commented on #37
Thank you for your contributions @deepaklorkhatri007 :-)

[2020-03-23 11:54] alranel commented on #38
@yvkrishna, as explained in the README you can ask all your questions here. :-)

[2020-03-23 12:23] alranel commented on #39
Welcome everybody! Please, stick to the guidelines: one issue per student. This one is @vaibhavjain30699's one. Thank you :)

[2020-03-23 12:24] alranel commented on #40
@thelowercaseguy welcome and thank you for the code contribution. Make sure you follow the application guidelines contained in this repository and feel free to ask any question.

[2020-03-23 12:25] alranel commented on #41
Hello @abhstract, can you provide more examples about your idea?

[2020-03-23 12:26] alranel commented on #42
@pratikghule please read the application guidelines contained in this repository and feel free to ask any question should something be not clear enough.

[2020-03-23 12:28] alranel commented on #43
Hello @mgtm98, congrats for your work!
It is totally fine (and very welcome!) to implement new libraries. The MicroPython build for Portenta will be released in the next weeks.
Let's communicate in this issue rather than e-mail :-) Thank you!

[2020-03-23 14:45] alranel commented on #46
@Rameshwar-dhakad the application guide contains some indications about that, with pointers to repositories of interest: https://github.com/arduino/summer-of-code/blob/master/how-to-apply.md

[2020-03-23 14:46] alranel commented on #45
Looking forward to see your proposal @vedrocks15! See the application guide in this repository.

[2020-03-23 14:49] alranel commented on #44
Welcome @anaicagrouver, make sure you follow the application guide located in this repository that explains what to do.

[2020-03-23 14:51] alranel commented on #47
Hello @thekunalsaini, your code looks promising! I suggest you start writing your proposal adding as many details as possible. This repository contains an application guide that you should follow.

[2020-03-23 14:54] alranel commented on #52
@DmiitriyJarosh we have no prototype. This task is about something that does not currently exist, so we are very open to discuss any good idea for it. Our language of choice for such backend tools is Go, so I'd expect that such project would combine Go for the crawling logic and C++ for the static analysis.

[2020-03-23 14:56] alranel commented on #51
Hello @ken-suga, did you check the application guide? There are links to repositories and hints for finding open bugs. Let me know if you have any doubts.

[2020-03-23 14:57] alranel commented on #49
@santiagoCamp the application guide in this repository contains some links to repositories where you can find open bugs. If you want to work on a bug, just use the normal GitHub workflow: comment in the issue and open a PR with your fix, referencing the original issue.

[2020-03-23 15:00] alranel commented on #53
@Pratyush1606 see the application guide in this repository as it contains indications about what to do.

[2020-03-23 15:01] DmiitriyJarosh commented on #52
@alranel Can you tell me about my next steps? Is it time to write proposal on the oficcial page of GSOC or I have to do something else before for successful application? If you want I can propose my own vision of future instrument in my prorposal and also provide a little plan of creating this instrument?

[2020-03-23 15:05] thekunalsaini commented on #47
Hi @alranel ,sure.
Thank you,
Kunal Saini

[2020-03-23 15:06] alranel commented on #54
Welcome to the community!

[2020-03-23 15:07] Chester-King commented on #25
Hello @alranel

* So for the past few days I've been porting Arduino Examples to MicroPython and testing them on my NodeMCU. If you want you can take a look at all the ported examples till now [here](https://github.com/Chester-King/NodeMCU-Micropython-Examples). I've only pushed an example to this repository after testing it on NodeMCU.
* I've also made a PR on the Servo Examples. You can take a l

[2020-03-23 15:47] alranel commented on #55
@laxsuryavanshi feel free to ask any question by posting comments here, and also make sure you read the application guide contained in this repository.

[2020-03-23 15:52] alranel commented on #59
Hello @yshsaxena. I'll try to answer your questions. The software stack for Portenta is under active development and will be released in the next few weeks. It will include the MicroPython stack (but with no libraries, so that's a good opportunity for your project proposal) and the core that allows running normal Arduino code, thus using the existing Arduino libraries.
Running MicroPython code on

[2020-03-23 15:59] alranel commented on #58
Welcome @ochui! Make sure you follow the application guide contained in this repository, and feel free to use this page to ask any question.

[2020-03-23 16:00] alranel commented on #57
Hello @Abnaby, make sure you follow the application guide contained in this repository. Your proposal should be very detailed and describe well what you are going to do during the coding season.

[2020-03-23 16:02] alranel commented on #60
@imraniac you can find some useful guidance in the application guide contained in this repository as well as the ideas page. You should go through the existing libraries and choose the ones you think need more work in terms of examples, and you should list them in your project proposal along with some description of the work you're going to do on them.

[2020-03-23 16:03] alranel commented on #61
Welcome @ahmed-1997-hub. Just a reminder: follow the application guide contained in this repository in order to write a good project proposal.

[2020-03-23 16:04] alranel commented on #62
Hello @sanjeev0008, welcome. Just a reminder: read carefully the application guide contained in this repository in order to understand how to write a good project proposal.

[2020-03-23 16:06] alranel commented on #63
Welcome @jmsingh6871. I suggest to pick one of those two ideas, as working on both would be too much. Also, remember to follow the application guide contained in this repository in order to understand how to write a good project proposal.

[2020-03-23 16:24] alranel commented on #65
@panktishah62 the number of examples and libraries depends on the complexity of the examples. But considering the length of the coding season, you might want to work on approximately 5 examples, provided they are not too simple.

[2020-03-23 16:25] alranel commented on #64
Welcome @asucada! The RTOS task is an advanced one, so make sure you study the matter well and your proposal contains enough details and references. Feel free to use this page to ask any questions should you have.

[2020-03-23 16:26] alranel commented on #66
Welcome @ash-xyz! You're right: there's no better way than to teach. That's why documenting your work is very important. Just a reminder for you: make sure you have read the application guide contained in this repository that explains how to write a good project proposal.

[2020-03-23 16:37] ghost commented on #41
Sorry I think it won't be possible for me to contribute as I am locked down
in my home and have poor internet connectivity .

On Mon, Mar 23, 2020, 5:55 PM Alessandro Ranellucci <
notifications@github.com> wrote:

[2020-03-23 16:40] alranel commented on #67
@graydonhope that sounds promising. If you plan to work on a single library, your examples are going to be advanced ones. Make sure you describe them well in your project proposal. Are you planning to make hardware prototypes as well?

[2020-03-23 16:41] alranel commented on #68
Welcome @ToSeven! Make sure you read the application guide contained in this repository that explains how to write a good proposal, and feel free to use this page to ask any question.

[2020-03-23 16:42] alranel commented on #69
Welcome @Shobhs13. Just a reminder: read the application guide contained in this repository that explains how to write a good project proposal.

[2020-03-23 16:43] alranel commented on #71
Welcome @npv12! Just a reminder: read the application guide contained in this repository that explains how to write a good project proposal.

[2020-03-23 16:45] alranel commented on #72
Welcome @djdo! Looking forward. Given your background I'd suggest to go with the FreeRTOS project. It's not easy but it's definitely doable and you will learn a lot. Also, many people would benefit from your work. Make sure you read the application guide contained in this repository as it explains how to write a good project proposal and feel free to use this page to ask questions.

[2020-03-23 16:46] alranel commented on #70
Hello @vinay-lanka, and welcome. Let's use this page for communication. You can link your proposal here and ask any questions should you have.

[2020-03-23 16:48] asucada commented on #64
Hello @alranel! I have spent this week writing the first draft for my proposal. Would appreciate it if you could give it a look and give me some advice. I am attaching the pdf version here.
[arduinoproposal_asucada.pdf](https://github.com/arduino/summer-of-code/files/4370760/arduinoproposal_asucada.pdf)

[2020-03-23 16:57] alranel commented on #76
@MRNIU looking forward to receiving your proposal. Freel free to use this page to ask any questions. There's no complexity requirement for the bug to solve.

[2020-03-23 17:08] alranel commented on #75
Hello @BeAsTmAsTeR169, and welcome.
The term crawler is used in this context because the libraries are distributed in hundreds of repositories, so such analyzer will need to scan all of them in order to gather the required information, clone their content and analyze it.
There's no requirement in terms of C++ analyzers to be used, so you can propose a solution.

[2020-03-23 17:09] lorforlinux commented on #37
My pleaseure @alranel, I am working on the proposal and will add some more examples soon :)

[2020-03-23 17:16] alranel commented on #77
Thank you @dushyant18033. The release for the documentation and code for Portenta is going to happen in the next few weeks.

[2020-03-23 17:17] alranel commented on #78
Thank you @SandyHub99. Make sure you read the application guide that explains how to write a good project proposal.

[2020-03-23 17:22] alranel commented on #79
Hello @hailcpy. Those ideas sound nice! Go ahead with writing your proposal following the application guide in this repository!

[2020-03-23 17:24] alranel commented on #80
Hello @mash197, and welcome. Thank you for the contribution. Make sure you read the application guide in this repository and that you detail the examples you intend to read in your project proposal.

[2020-03-23 17:28] alranel commented on #82
Welcome @AsherThomasBabu, and thank you for your introduction and your contributions. Your idea is ambitious, but probably is more suited for the Season of Docs istead of the Summer of Code, which is more focused on programming. I'd suggest to focus more on writing code, so you may want to think about some advanced example that involves libraries and maybe a physical prototype.

[2020-03-23 17:29] alranel commented on #81
Welcome @pr3dat0r2201! Just a reminder: make sure you have read the application guide contained in this repository that explains how to write a good project proposal.

[2020-03-23 17:35] dushyant18033 commented on #77
I would like some mentor to review my GSoC proposal draft submitted on the gsoc portal to verify if it is sufficient and suggest changes if needed as the final proposal submission is just a week ahead.
Thanks

[2020-03-23 17:39] alranel commented on #83
I'll answer your questions:

1. Showing code you have already written for low level programming, such as ports for various boards, is a good way to show proof of experience.
2. Of course, feel free to use this page to ask any question about your proposal.

[2020-03-23 17:42] mash197 commented on #80
Hello @alranel , i have already read the application guide in the repository and followed it to create a detailed proposal including al the details about the libraries that i want to work on, it would be very helpful if i can get feedback on the proposal, i submitted the link and proof of enrolment to GSOC website.

[2020-03-23 17:46] alranel commented on #84
Hello @FerociousYogi, make sure you have read the application guide contained in this repository that explains how to write a good project proposal.

[2020-03-23 17:47] dushyant18033 commented on #77
Also, I had made a simple project where you could control an RGB LED through a TCP socket over wifi by sending some specific commands from laptop or a phone in the same network as the device. This was based on micropython and esp8266. I can share the code if asked for. In addition to what all I have proposed in my proposal, I would like to port this remotely controlled RGB light to Portenta. If if

[2020-03-23 17:47] alranel commented on #85
Hello @zainamir98, and welcome! Just a reminder: make sure you have read the application guide in this repository that explains how to write a good project proposal, and feel free to use this page to ask any questions.

[2020-03-23 17:49] shahkairav commented on #84
I have! Shall I start working on this then? Please guide me so that I can begin. Thanks a lot.

[2020-03-23 17:56] alranel commented on #88
Hello @ashutoshshrm529, thank you for submitting the proposal. We will do our best to review it, although we are overwhelmed with proposals and we're doing our best!

[2020-03-23 18:09] alranel commented on #86
Hello @Arsh0508, and welcome to the community. Just a reminder: make sure you read and follow the application guide in this repository, which explains how to write a good project proposal.

[2020-03-23 18:12] alranel commented on #89
Hello @zaidMughal, welcome and thank you for your contribution. The number of libraries depends on the complexity of the examples. On average, you might want to work on 3 to 5 libraries, provided you create also some advanced examples and maybe also a physical prototype.

[2020-03-23 18:14] alranel commented on #90
Hello @pankaj599, and welcome. Porting FreeRTOS is an advanced challenge, so make sure you study the topic well. Also, make sure you read the application guide contained in this repository, that explains how to write a good project proposal.

[2020-03-23 18:15] alranel commented on #91
Thank you @ScarySheep, for sending a proposal! We will do our best to try to review it before the deadline. We are overwhelmed with submissions but we'll try.

[2020-03-23 18:16] alranel commented on #92
Hello @Robogeek95, and welcome. The Summer of Code is mostly about coding rather than about writing documentation, but of course writing documentation as part of a coding project is welcome. And yes, you are right about noting that there's not much documentation about JerryScript, so the challenge is also about learning about how to make it run on a new board based on the existing documentation ab

[2020-03-23 18:17] alranel commented on #93
Hello @WhymustIhaveaname. You should choose a project to work on, and prepare your proposal by following the application guide you'll find in this repository.

[2020-03-23 18:30] alranel commented on #95
Hello @dragonman225 and welcome! Also, thank you for introducing yourself and providing references to your past experience.

Your questions are good questions. I'll try to answer.
As you wrote, FreeRTOS is not ported yet so that is not an option for now. But we are going to release the mbed stack for Portenta, and JerryScript can run on top of it. See this documentation: https://os.mbed.com/javasc

[2020-03-23 18:33] alranel commented on #96
Hello @achen173! That sounds like an ambitious project, but if you think you can do it, well, green light - go ahead and write your proposal. Make sure it's well detailed.

[2020-03-23 18:34] graydonhope commented on #67
@alranel Thanks for the feedback. I will be focusing on two libraries and have described my plan in detail in my submitted proposal. Yes I am planning to make a hardware prototype.
I suggested that I make advanced examples for the two libraries and then time-allowing I make additional examples for other libraries. These examples will be less involved without a hardware prototype. Does that seem li

[2020-03-23 18:40] alranel commented on #97
Thank you @kanishchugh, that looks good! (Keep in mind we are receiving a lot of applications, so if you can improve this with more details it may have better chances)

[2020-03-23 18:44] alranel commented on #98
Welcome @Inv3nt0r1. Make sure you read the application guide in this repository which explains how to write a good project proposal.

[2020-03-23 18:44] Inv3nt0r1 commented on #98
Thank you so much for the reply.
I am working on Proposal, I will submit it for review tomorrow.
I am ensuring it to be as detailed as possible.

[2020-03-23 18:45] alranel commented on #99
Hello @ayan-biswas0412, and welcome. Your proposal is a good start, so keep improving it in order to add more details about your project. Make sure you follow the application guide contained in this repository.

[2020-03-23 18:56] alranel commented on #100
Hello @OmarAli3, and thank you for your code contributions.
Regarding your question: we can't predict how many students will be selected. It will depend on the quality of the submissions, and also on the number of slots that Google will assign to Arduino.

[2020-03-23 18:57] shawayush opened #122 "Application for write MicroPython examples and tools for Portenta"
Hi! I am a second-year CS under-grad. I have submitted a pull request that solves two of the bugs in Arduino Gui. The link is https://github.com/arduino/Arduino/pull/9908
I will be also working on two more issues that is #7658 and #6820 in the meantime. I request the mentors to guide me through the application writing process and I hope I can prove my worth in the meant time so that I can surely b

[2020-03-23 18:57] alranel commented on #101
Hello @AnantaSrikar. You are free to choose the project you prefer to work on. We listed both of them in the ideas page, so we support both. Developing an Android app however is not among the proposed ideas, so I'm afraid there would be no mentors available for it.

[2020-03-23 18:58] alranel commented on #102
Hello @karanankit01, please use the GSoC web interface to submit your proposal. We are getting so many requests that we can't reply via e-mail individually.

[2020-03-23 19:00] karanankit01 commented on #102
Hi @alranel,
I have submitted the proposal draft via the GSoC website.

PS: I am working on the project "example for the libraries".

[2020-03-23 19:08] vinay-lanka commented on #70
Hey @alranel , thanks for reaching out!
I've uploaded the draft link on my GSoC dashboard. Should I link it here as well? Or only keep this thread for discussing doubts?
Thanks again! :)

[2020-03-23 19:11] alranel commented on #103
Hello @sam337. Make sure you read the application guide in this repository as it contains instructions for writing a good project proposal.

[2020-03-23 19:15] alranel commented on #104
Hello @SadafShafi. Thank you for your introduction. I recommend that you start writing your project proposal, following the application guide contained in this repository. Make sure to make everything well understandable.

You asked the following question:

This is the Arduino project, so we can provide mentorship only for the Arduino boards.

[2020-03-23 19:16] alranel commented on #106
Hello @AbhinavMir, and thank you for submitting your proposal! We are overwhelmed with proposals so we are doing our best to review them. Make sure you keep improving it anyway without waiting for our feedback.

[2020-03-23 19:34] UtkarshBhatthere opened #123 "GSoC 20 :: Porting FreeRTOS to Portenta"
Hey,
I am Utkarsh Bhatt, A senior year Electronics and Communications undergrad student at [National Institute of Technology Silchar](http://nits.ac.in/), India. I have been working on embedded systems for almost 3 years now. The list of micro-controllers i've worked on include {ATmega, STM8, STM32 (F0, F1, F4), ESP8266, and ESP32} for both custom firmware and Device Drivers Development. I've work

[2020-03-23 19:44] alranel commented on #108
Hello @thesantatitan, welcome!

[2020-03-23 19:45] alranel commented on #109
Hello @omarelhedaby!

[2020-03-23 19:45] AsherThomasBabu commented on #82
Thank you sir, @alranel for the reply, I have in fact curated a proposal and submitted it at the GSoC Dashboard for review. I Have included plans for various examples that could be created. @per1234 @masci please do look at the proposal and leave feedback, It'll help me shape the proposal better.
Thank You
Asher

[2020-03-23 19:48] alranel commented on #110
Hello @MisterAwesome23. These comments on GitHub support Markdown formatting so you can just paste them here. To finalize the submission the GSoC interface shall be used.

The number of examples to write depends on their complexity. We don't care much about the quantity but we prefer quality. I suggest to work on 3 to 5 libraries and think about advanced examples that can inspire developers. A har

[2020-03-23 19:53] alranel commented on #111
@rez39 thank you for your submission! We are overwhelmed by project proposals so we are doing our best to review them. Please continue improving your proposal as much as you can without waiting for our feedback. Should you have any questions just write them here.

[2020-03-23 19:57] alranel commented on #113
Hello @rijalbasanta, welcome. I recommend that you pick your project quickly and start writing your project proposal, following the application guide contained in this repository.

[2020-03-23 19:58] therealbigzeez commented on #92
Thanks @alranel, i understand, i'll still provide a friendly documentation for every of my code examples based on the already existing documentations, I do not want other developers to find it so hard using my examples as the current documentations feels, makes it fun while learning something new.

[2020-03-23 19:59] therealbigzeez commented on #114
welcome @noob-master147

[2020-03-23 19:59] alranel commented on #114
Hello @noob-master147, and welcome to the community! Thank you for introducing yourself and pointing to your past experience in IoT. I recommend that you pick a project quickly and start writing your project proposal, following the application guide that you find in this repository.

[2020-03-23 20:02] alranel commented on #117
Hello @khushi02.  Thank you for providing an example. Reminder: read the application guide carefully and start writing your project proposal.

[2020-03-23 20:03] alranel commented on #116
Hello @salisbuk7897. Unfortunately we are receiving an overwhelming amount of requests, so e-mail is not the best channel. I recommend you use this GitHub issue or the official GSoC interface for submitting your proposal. If you have any questions, use this page for asking them. Thank you!

[2020-03-23 20:04] alranel commented on #115
Hello @amritanshu-kk, and welcome!
Thank you for your introduction. I recommend you read the application guide contained in this repository and you start writing your detailed project proposal.

[2020-03-23 20:07] alranel commented on #119
Hello @sasilva1998, and thank you for this introduction and the references to your past experience. Make sure you include that information in your project proposal (make sure you follow the application guide contained in this repository in order to write a good proposal).
Regarding your question, the workflow for using MicroPython on Portenta isn't much different from any other board supported by

[2020-03-23 20:08] alranel commented on #118
Hello @electricSamarth, and welcome. Looking forward! See the application guide and start writing your project proposal.

[2020-03-23 20:11] therealbigzeez commented on #92
Please Milestone

Thanks @AbhinavMir, already checked that out, but ill be glad to have you refer me to some other resources, that might really help out

[2020-03-23 20:32] sasilva1998 commented on #119
Hi @alranel, thank you for the info, yes I I have seen other boards like Pycon's, microbit, etc. And I am also now working on my proposal which will put as draft in the GSoC platform today.

[2020-03-23 20:45] salisbuk7897 commented on #116
Hi @alranel, I have submitted a draft through the official GSoC website. Please I will like your feedback on it. Thank you!

[2020-03-23 21:04] alranel commented on #122
Hello @shawayush, and thank you for the contributions. I suggest you read the application guide contained in this repository, that explains how to write a good project proposal. You will also need to pick a project among the ones listed in the ideas list.

[2020-03-23 21:06] alranel commented on #123
Hello @UtkarshBhatthere, and welcome. If you want to pick up the FreeRTOS porting project, you will find some guidance in the FreeRTOS documentation about porting. I recommend you read the application guide contained in this repository, in order to write a good project proposal.

[2020-03-23 21:29] ayan-biswas0412 commented on #99
Thank you, sir, for your compliment. I will do all minute editings in my proposal which are necessary for this project and it will be submitted by 31st of March before 23:00 IST and please comment on the sections in my proposal such that I can rectify to a great level.
**I have followed all the portions that are mentioned in the project proposal sample, and I will be highly obliged if you guide me

[2020-03-23 22:39] AbhinavMir commented on #106
Sure!

[2020-03-24 03:01] AnantaSrikar commented on #101
Ok so how about I go ahead with the analyzer for the existing libraries? Please guide me as to what all I have to add to my draft to make it more acceptable.

[2020-03-24 03:40] amritanshu-kk commented on #115
Thank you @alranel for responding me!

[2020-03-24 04:57] Derekduke commented on #83
Thanks for your guidance@alranel .
I uploaded part of the code that I used to develop and related to the underlying development. Please refer to my github:
- https://github.com/Derekduke

This is the proposal draft I have written.Although it has been submitted to the Gsoc platform, there is no feedback yet.So I really hope to get some suggestions：
《Porting FreeRTOS to Portenta and Writting Project

[2020-03-24 06:16] arun2201 commented on #81
Thank you for the help @alranel
could you please share your mail so that I can send my draft for review before submitting the final proposal.

[2020-03-24 06:18] yshsaxena commented on #59
Dear @alranel
Thank you for your really helpful response.  I will look forward to work with your suggestion.

Sincerely,

Yash

[2020-03-24 06:35] shawayush commented on #122
Hi @alranel Sir, I have gone through the applications guidelines, I look forward to working with MicroPython examples and tools for Portenta board!
Can I give a Draft application before I submit the final request? and what else, would you expect from in the Application Process.
And thank you much for seeing my PR and appreciating it, I hope I would prove you more valuable

[2020-03-24 08:04] noob-master147 commented on #114
@alranel I hope you are best in health seeing the worsening situation in Italy due to COVID-19.
@alranel since portenta isn't really available how can I contribute as of now to the community?
What I have in mind is adding a few Examples in the existing libraries and few in Arduino. What else can I do?

[2020-03-24 09:51] UtkarshBhatthere commented on #123
Thanks @alranel ,
I am going through the FreeRTOS porting documentation for now. Will finish writing the proposal soon. What about the coding proficiency test (Fixing issues on Arduino’s github repositories), Is there any specific issue you would like me to look into ?

[2020-03-24 10:36] ayan-biswas0412 commented on #99
@alranel  I have updated my project timeframe in my Project Proposal in the  Schedule of Deliverables section for this project as per the new timeframe guidelines received from Google on Mar 24, 2020, 11:29 AM (IST)

[2020-03-24 11:02] #120 closed

[2020-03-24 11:03] kanishchugh commented on #97
Greetings @alranel, thank you for your feedback. I have made certain substantial changes as suggested in the proposal and would really like you to review it again. Thanks again for your valuable feedback.

[2020-03-24 11:10] SadafShafi opened #125 "where do I find my mentors to communicate with them?"
Heya
I sent my proposal via GSoC and now as the student guide says to connect with mentors and expects their names and contacts to be on the idea list.
However, I do not find anything like that in our case of Arduino.
So can someone please guide me here
where do I find relevant mentors
and do i get my review of proposal via GSoC webiste?
and finally, thanks for all your support
Highly appreciated

[2020-03-24 12:01] rahul-arasikere opened #126 "Rahul Arasikere- Summer GSoC20 - Porting FreeRTOS to Portena"
Hello, I am a Sophomore studying computer science at Boston University. I have worked with embedded projects as a hobby and as well as for my university's rocketry club. I don't have too much experience writing low-level code, I have written drivers for sensor boards and gone through technical documentation for various sensors for my projects, I was still interested in applying to port FreeRTOS to

[2020-03-24 13:29] MRNIU commented on #76
@alranel hi, I have summit a pr: https://github.com/arduino-libraries/Keyboard/pull/35

[2020-03-24 13:31] MisterAwesome23 commented on #110
# REQUEST FOR PROPOSAL FEEDBACK
##### Draft Date: 24 March, 2020.
# **Arduino @ Google Summer of Code 2020 Proposal**
## **Project: Write Examples For Official Libraries**
**Name:**  *Manthan Admane*
**GitHub Username:** *MisterAwesome23*
**GithubIssueTracker:** https://github.com/arduino/summer-of-code/issues/110
**Email:** admanemanthan23@gmail.com

---

### Abstract

Right from beginner to all

[2020-03-24 13:39] MisterAwesome23 commented on #110
Kindly review the proposal.
Also, I had a few questions-

1. Where can I open a common issue for the arduino-libraries organisation (This link- https://github.com/arduino-libraries/). Git hub API seems to return only 30 libraries when hit.

2. Also, can I use the Huzzah Father Board for now (Since it is the only one available with me right now with the COVID lock-down scenario), to demonstrate exa

[2020-03-24 15:31] rsora commented on #121
Hi @JamolHojahon, I'm Roberto from the arduino-cli core developer team,
First of all thanks for your interest in contributing to the arduino-cli project, we are glad that you choose Arduino for your GSOC and personally, I'm glad that you choose the arduino-cli fo your contribution effort.

We had an internal discussion in the arduino-cli team and decided to propose a new activity on the CLI for th

[2020-03-24 15:37] rsora commented on #94
Hi @Qs-F , I'm Roberto from the arduino-cli core developer team,
First of all thanks for your interest in contributing to the arduino-cli project, willing and experienced Golang devs are always welcome in the arduino-cli contributors family! :smiley_cat:

We had an internal discussion in the arduino-cli team and decided to propose a new activity on the CLI for the GSOC (see https://github.com/ardu

[2020-03-24 15:42] rsora commented on #4
Hi @sciamp-dev , I'm Roberto from the arduino-cli core developer team,
First of all thanks for your interest in contributing to the arduino-cli project, as @alranel mentioned, you can find [good first issues here](https://github.com/arduino/arduino-cli/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22), feel free to pick one of them and start contributing!

We had an internal discussion

[2020-03-24 15:45] KAbhijeet2105 commented on #30
Hello @alranel, Thank you so much for sharing this information and motivating me. I will list down my all PRs here.
https://github.com/arduino-libraries/Servo/pull/38
https://github.com/arduino-libraries/Arduino_HTS221/pull/3
https://github.com/arduino-libraries/Arduino_CRC32/pull/6
https://github.com/arduino-libraries/SD/pull/77
https://github.com/arduino-libraries/TFT/pull/17

[2020-03-24 15:47] rsora commented on #70
Hi @vinay-lanka  , I'm Roberto from the arduino-cli core developer team,
First of all thanks for your interest in contributing to the arduino-cli project, as a proficient Golang contributor, you will provide to our community a great contribution for sure!

We had an internal discussion in the arduino-cli team and decided to propose a new activity on the CLI for the GSOC (see https://github.com/ard

[2020-03-24 16:08] MoustafaMonem opened #129 "Mostafa Mahmoud - GSoC 2020 - Writing examples for official libraries"
Hello, I am Mostafa Mahmoud from Egypt. I am studying computer engineering in Benha Faculty of Engineering. I have good experience with Arduino and I would like to apply for the project "writing examples for official libraries". I have written a draft proposal. Should I send it you? if yes, please specify how and recommend the next step.

[2020-03-24 16:09] ayan-biswas0412 commented on #99
My Contribution relevant to this project [Check #47](https://github.com/arduino-libraries/Servo/pull/47)
I have added a **Micropython example for Sweep of Servo** , Take it as my very initial contribution to the Portenta Project.

[2020-03-24 17:22] vinay-lanka commented on #70
Hey @rsora  ,

The new feature to add external programmer support does seem really promising and would be a welcome addition to the cli.

I am interested in contributing to this activity and would open a new issue for the same.

[2020-03-24 17:22] #70 closed

[2020-03-24 18:09] vinay-lanka opened #130 "GSoC 20 - Vinay Lanka - arduino-cli external programmers feature"
### Introduction

Hey!
I'm Vinay Lanka, a 20 year old ECE undergraduate at Vellore Institute of Technology. I am really excited to hear that Arduino is a mentoring organisation for GSoC 20. Arduino has been the first microcontroller that I'd ever come across during my school days. I still remember speding hours in trying to get various hardware components to work with the original Arduino UNO R1 b

[2020-03-24 18:45] per1234 commented on #110
This is due to pagination:
https://developer.github.com/v3/#pagination
It's not a bug. General purpose code that uses the GitHub API should correctly handle pagination. In this case, since the arduino-libraries organization currently has <100 repositories, the dirty workaround would be to simply set the `per_page` parameter to 100. Arduino frequently publishes new libraries so the count may not be

[2020-03-24 20:25] MisterAwesome23 commented on #110
Thanks for this-
I can now get all repository names using curl and the following link-
https://api.github.com/orgs/arduino-libraries/repos?per_page=100

Oh I see your concern here and I'll keep a note of that. But, I actually meant, to demonstrate an example of how we will be actually working on the project, for the sake of proposal- can I use an example for Huzzah since that's the only physical b

[2020-03-25 03:52] AbhishekGore opened #131 "GSoc 2020- Abhishek Gore -port FreeRTOS to Portenta and Write examples for official libraries"
Hi!
My name is Abhishek Gore. I am a fourth-year student of Electronics and telecommunication at PVG's COET, Pune, India. I am really excited to hear that Arduino is a mentoring organization for GSoC 20.
Arduino was my first and most favorite controller to work with, as I am electronics under-grad student so I have a very good experience with controllers, protocols(I2C, SPI, UART) and also differe

[2020-03-25 08:31] jeeva2812 opened #132 "S Jeeva - write MicroPython examples - write examples for official libraries"
I am S Jeeva, doing my sophomore year in Mechanical Engineering at IIT Madras.

I have given some pull requests [42](https://github.com/arduino-libraries/Servo/pull/42), [17](https://github.com/arduino-libraries/Mouse/pull/17)
I have some basic prior experience in MicroPython. Please let me know how to contribute to Portenta.

Thanking You.

[2020-03-25 10:10] noob-master147 commented on #114
@alranel these are 3 of the Open PR I created yesterday, Do you have any suggestions or reviews about it?

[2020-03-25 10:16] obi-wan-shinobi opened #133 "Micropython examples for Protenta board"
My name is Shreyas Kalvankar, I wish to participate in the GSoC idea of adding a list of micropython examples for the new Protenta board. I have already written an example for controlling a servo using a potentiometer (Knob example). I have also added a generic map function to the code.
I'd like to get in touch with a mentor to discuss about application and further process.
PR : https://github.com

[2020-03-25 11:42] Abnaby commented on #57
Hello @alranel that's my proposal
https://docs.google.com/document/d/1D8aHqvRvM71a215fuP10-FxWvlIIFijzf_WRb-NoGmU/edit?usp=sharing
Can you help me to improve my proposal?

[2020-03-25 12:10] jeeva2812 commented on #132
Made another [pull request](https://github.com/arduino-libraries/Mouse/pull/17) too.

[2020-03-25 12:27] ochui commented on #58
Hello @alranel ! Thanks for the reply. I have submitted my proposal draft through the GSOC dashboard is it necessary for me the share it here?

[2020-03-25 12:42] JamolHojahon commented on #121
Dear Mr @rsora,

Thank you sir. I'd be happy to work on the project **arduino-cli external programmers feature**.

I'm interested and can you tell me please where to start to get into it faster?

[2020-03-25 12:51] atharva-sundge commented on #1
@alranel sir, I uploaded a draft proposal regarding the project 'Write MicroPython examples and tools for Portenta' on GSoC site.
Please take review and comment if possible.
Thank you!

Regard,
Atharva Sundge
Email: avsundge@gmail.com

[2020-03-25 13:36] rsora commented on #121
Very nice @JamolHojahon !
Please open a new issue with the project title (**arduino-cli external programmers feature**) and close this one, I'll give you some pointers to start!

[2020-03-25 14:54] #121 closed

[2020-03-25 15:32] ayan-biswas0412 commented on #99
My Contribution relevant to this project [Check #53](https://github.com/arduino-libraries/Servo/pull/53)
I have added a Micropython example for controlling of Servo with a potentiometer , Take it as my second  contribution to the Portenta Project.

[2020-03-25 17:19] JamolHojahon opened #134 "Arduino-cli external programmers feature"
Hey!
I am Jamol, 1st year master of Russian-Tajik University, studying Computer Science in Dushanbe. I'm happy to find Arduino on the GSOC list.

I had some experience in web development with golang. Last year i learned and got experience in soft development and worked with devices like cashcode, coinacceptor and printer custom VKP80II.

P.S
Can you kindly recommend me an easy issue to start with?

[2020-03-25 19:35] shawayush commented on #122
Hi @alranel, I have submitted a draft to Arduino, please give a feedback, so that I upgrade. That draft mostly covers the technical details and timelines. I hope the Proposal, is of your liking!

[2020-03-25 21:02] sciamp-dev commented on #4
Thank you for the update @rsora! I checked it out and I'll switch to that.

I started writing a project proposal and I'll work on a first issue in the weekend. As soon as I have a draft, I'll open a new issue.

Sorry for the delay, I just ended my internship in the Netherlands and I'm quite busy finding a way to go back to Italy :weary:

[2020-03-25 21:26] Pratyush1606 opened #135 "Requesting feedback"
I have submitted the draft of my proposal. Can you please send me the feedback regarding that?
Thanks!

[2020-03-26 00:38] MisterAwesome23 commented on #110
# REQUEST FOR PROPOSAL FEEDBACK
##### Draft date: 26 March, 2020
---
# **Arduino @ Google Summer of Code 2020 Proposal**
## **Project: Write Examples For Official Libraries**
**Name:**  *Manthan Admane*
**GitHub Username:** *MisterAwesome23*
**GithubIssueTracker:** https://github.com/arduino/summer-of-code/issues/110
**Email:** admanemanthan23@gmail.com
**Skype Name:** live:admanemanthan23
**Time

[2020-03-26 06:59] KAbhijeet2105 commented on #30
@alranel  @per1234 I have submitted my Draft proposal on the official GSoC website. I would like to get your feedback on it. Thank you.

[2020-03-26 07:45] MohannadSehwail opened #136 "Micropython examples for Protenta board"
My name is Mohannad Sehwail, I wish to participate in the GSoC idea by adding a list of micropython examples for the new Protenta board. I have done many projects using Ardunio , I am very enthusiastic to contribute to Ardunio & help others start building projects with micropython!

[2020-03-26 08:22] rsora commented on #134
Hi @JamolHojahon ,
Please give a look at [our issues here ](https://github.com/arduino/arduino-cli/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22)
And before start, read the [CONTRIBUTING](https://arduino.github.io/arduino-cli/CONTRIBUTING/) section of or documentation.
Happy Coding!

[2020-03-26 08:27] rsora commented on #130
Hi @vinay-lanka,
Please have a look at our [CONTRIBUTING](https://arduino.github.io/arduino-cli/CONTRIBUTING/) section in our docs before start contributing.
[This section of our docs regarding the tooling](https://arduino.github.io/arduino-cli/platform-specification/#tools) is also a good place to start for getting the right context.
Happy coding!

[2020-03-26 08:53] ayan-biswas0412 commented on #99
Hello, @alranel I have almost finalized my project proposal if anything clarification needed for my detailed project plan or anything related documentation clarification or in my milestones if you find anything wrong please comment on my proposal because only a few days are left and we the participants are at the eleventh hour.

**Also check my College Recommendation Letter** : [Click here](https:

[2020-03-26 11:13] Engineer1999 opened #137 "Requesting feedback"
Hey @alranel
I have submitted my proposal draft. I request you to review and provide your suggestions.
link:- [GSoC Proposal](https://drive.google.com/open?id=1U72o_Bf_4wX7Th3OG3AnNiv5df2WqcA5jeuLstA6qXI)

[2020-03-26 12:36] s10singh97 opened #138 "GSoC: MicroPython examples and tools for Portenta"
Hi
My name is Shashwat Singh. I am a 3rd year undergraduate of Computer Science and Engineering at Indian Institute of Information Technology, Kota, India. I am also a Google Developers Developers Student Club Lead. I am really interested to take up this project. I have attended numerous robotic bootcamp and have completed some projects in them. I am proficient in Python, C++and C. Building exampl

[2020-03-26 12:42] vinay-lanka commented on #130
@rsora, the docs are very helpful thanks!

[2020-03-26 14:01] AsherThomasBabu commented on #82
@per1234
Sir, I'm not sure if you noticed my previous message, being a reviewer for @arduino-libraries I think you'd know best about the needs of the current libraries. I have linked my proposal in `.md` [HERE](https://github.com/AsherThomasBabu/Arduino-GSoC/blob/master/Asher.md). Kindly review it and guide me on how I could make it better.
Thanking you in advance
Asher

[2020-03-26 16:19] ABoredComputerEngineer opened #139 "GSoC 2020 - Asim Maharjan - Analyzer for Arduino libraries"
Hello, I am Asim Maharjan, a third year student of Electronics and Communication Engineering at Pulchowk Campus. I would like to work on the static analyzer for Arduino libraries. I am fairly experienced in C++, Arduino and have experience in writing parser which I think will be useful for building a static analyzer.

I plan to use libclang with the ASTMatcher and Cursor API to parse the C++ files

[2020-03-26 17:32] Inv3nt0r1 commented on #98
Hello @alranel @per1234,
I have submitted my draft on the GSOC portal. Kindly review it and tell me changes/suggestions/additions if any.
Thank you.

[2020-03-26 17:55] IrumGhafoor opened #140 "GSoC: Irum Ghafoor -- Seeking Guidance"
Hello, My name is Irum Ghafoor and I am from Pakistan. I have worked with Raspberry Pi 4 using Python.
I have experience in C++ as well. However, may I know that from where can I get started if I want to apply for Arduino's project(s)? Moreover,  I want to ask if having hardware is essential to work on any of the project(s) of the Arduino or are we good to go if we have Linux installed?

[2020-03-26 22:03] vinay-lanka commented on #130
Hey,
I've uploaded a draft of my proposal regarding this project on the GSoC dashboard. I would really appreciate if you guys could take a look and suggest changes and improvements.
Thank you!

[2020-03-26 22:30] Chester-King commented on #25
Hello @alranel @per1234

I have uploaded the draft proposal regarding the project **Write MicroPython examples and tools for Portenta** on GSoC site. I request you to review it and comment on the google doc if I there is any room for improvement.

_Key Points of the proposal_

* 10 Examples from Arduino IDE ported to MicroPython and tested on NodeMCU. You can take a look at the examples at [this r

[2020-03-27 00:11] MRNIU commented on #76
@alranel I have shared my draft but there is no comments until now. What should I do to get a feedback?

[2020-03-27 03:08] BasilVictor opened #141 "GSoC 2020: Idea-Writing MicroPython Examples and Tools for Portenta"
Hello all!
I am Basil, 19 years old from Kolkata, India. Currently I am pursuing my majors in Computer Science Engineering at CHRIST University, Bangalore. I am interested to contribute to the Arduino community by writing MicroPython examples for Portenta. I am well familiarized with C, JAVA and Python programming languages. I have worked on many mini projects using Arduino UNO in the past to lear

[2020-03-27 05:07] rijalbasanta commented on #113
What will be the compiler used by IDE for portenta?

[2020-03-27 05:55] rijalbasanta commented on #113
@alranel what compiler is going to be used in the IDE for Portenta?

[2020-03-27 06:11] panktishah62 commented on #140
Hey @IrumGhafoor
You can have a look at Arduino's ideas list and can choose one or more project that you would like to take up this summer. And then make a project proposal for the same.

Hardware would depend on what you want to implement.

Hope it helps!

[2020-03-27 06:17] panktishah62 opened #142 "Requesting feedback"
Hey @alranel @per1234
I have submitted my draft proposal on official Gsoc website.
Please review it when you are free.

Is there any irc/slack channel for discussions ?

Thanking you in advance.

[2020-03-27 06:39] batorshih opened #143 "write examples for official libraries"
Hello
My name is Bat-Orshikh. i hava a lot of expirenece of robotic , programming and electroc. i worked with Atmega, Arduino,beaglone and etc. First i met with arduino was 2016 and working on variety of projects.
Glad to contribute your Open Source Comminity

[2020-03-27 07:24] adeelhassan925 opened #144 "Write examples for the official libraries"
Hi, my name is Adeel Hassan. I am very enthusiastic about Arduino. I have completed Arduino projects.  I am working on Arduino in my final year of the degree. In my final year project, I am developing a robotic system that is based on Arduino. This system will assist in the road crossing. I am so interested in this project of GSoC.

[2020-03-27 08:40] tkhabia commented on #107
I have submitted my draft proposal. Can you please give its review on it. It would be very helpful.

[2020-03-27 11:17] hailcpy commented on #79
hey @alranel  i have submitted the draft please provide feedback.

[2020-03-27 11:33] ubdussamad opened #145 "GSoc : Introdution/A query : Mohammad Samad"
Greetings, this is Mohammad Samad. I go by the alias of ubdussamad. I am an Undergrad in Computer Sciences. I've been working with MCU (not exclusively Arduino) based projects since a year. I know a fair bit of analog electronics and have been involved with it from 6+ years.  _I know I am a bit too late_ but I'll try to do as much as I can. Currently I am planning to add examples to the **Mouse li

[2020-03-27 16:17] rgrupesh opened #146 "Rupesh Gelal- GSoC2020 Applicant- Examples for official Arduino Libraries"
Hello there! My name is Rupesh Gelal and I am a second year Computer Engineering student at Nepal Engineering College. I have a lot of experience working with Arduino for both personal and hackathon projects. I have around 4-5 years of programming experience(C,C++). I hope to work with Arduino this summer on building new examples for existing libraries.

[2020-03-27 16:43] mightycandle commented on #18
@alranel
Here is my project proposal. Please do check it out and inform me if any changes are required to it
Regards :)
https://drive.google.com/file/d/1i3BNogNVArIQuDc0L9z5H3RA9azREddK/view?usp=sharing

[2020-03-27 17:15] nikolaradulov opened #147 "GSoC 2020 : Writting microPython examples for Arduino Portenta"
Hi, my name is Nikola Radulov, I am a first year undergraduate student at the University of Manchester.

I am a coding enthusiast with over 5 years of experience in C, C++, Python, MicroPython and Java. Furthermore I a basic level of understanding on the way microprocessors work, and I have worked on various Arduino, Raspberry Pi and LoPy based projects.

With regards to the proposed project, my a

[2020-03-27 18:38] UtkarshBhatthere commented on #123
@alranel
I’ve referenced some papers, tools and online documentations. I generated a shell project with FreeRTOS middleware on STMCube and found that FreeRTOS has been independently ported to CM4 and CM7 which means we can have a Asymmetric Multiprocessing model of FreeRTOS up and running. Hence I would like to know if the scope of project is inclined towards an SMP model or something completely d

[2020-03-28 05:35] AsherThomasBabu commented on #82
# @per1234  Requesting feedback

# **Proposal - Arduino GSoC 2020 - Write Examples for Official Libraries**

# **Abstract**

Example sketches play a very important role in helping a developer understand the functionality and functions available in a specific library. Personally, the first thing I would refer to while working with a library is the available examples.

Maintaining an updated and ric

[2020-03-28 08:09] frank010180 opened #148 "GSoC 20: Porting FreeRTOS to Portenta"
Hi There!
My name is Liang, I'm a master’s degree student studying [Electronic Engineering](https://ece.ntut.edu.tw/) at [National Taipei University of Technology](https://www-en.ntut.edu.tw/). And I have 3 years of experience as a firmware engineer, familiar with coding IOT on the Microcontroller Unit. I have used Arduino Uno Mega, Esp8266, Realteck RTL8195, STM32F103, STM32F407, TI CC2650 boards

[2020-03-28 10:21] ankurs314 opened #149 "GSOC-2020 Examples for official Arduino Libraries"
Hey, My name is Ankur Saini. I am a second-year Computer Science & Engineering student from GJUST, Hisar. I have a keen interest in Arduino. I had worked in some projects of Arduino and completely excited to work in Arduino this summer. I have a good knowledge of C, C++ even Arduino libraries. I had also participated in Arduino Workshops in college. I had also worked in a black line following Robo

[2020-03-28 11:21] AshutoshPandey123456 opened #150 "Arduino to MicroPython Transcompiler for Portenta"
Hi,

I am Ashutosh Pandey, 3rd year CSE student of DSCE Bangalore. For GSoC I will be working on writing a 'source to source' compiler to convert Arduino (C++) code to Micropython to speed up the porting of Libraries. The main goal is to make a command line tool which can take input of an example of a library and output equivalent micropython code. The idea is a modification of @RobTillaart 's sug

[2020-03-28 18:54] LeoAndTheTree opened #151 "GSOC 2020 - Yunsong Liu - An Introduction"
Hi, my name is Yunsong Liu. I am a first-year undergraduate computer science student at Carnegie Mellon University. Ever since I am introduced to Arduino boards during my first year in high school, I am always fascinated by the ability Arduino allows for fast prototyping. I have since made a few robotics projects with Arduinos, and when I learned about the GSOC opportunities, I am immediately exci

[2020-03-28 23:21] ash-xyz commented on #66
If you don't mind, I have submitted a draft proposal and would love feedback!
Don't worry if you don't have the time, I understand that I'm a bit late to the party.

Happy Hunting!

[2020-03-29 03:49] AbhishekGore commented on #131
Kindly reply,It's been 4 days.I have debugged library for contribution can anyone please guide me in proposal writing, where should I add my contribution part and also what other things are necessary to add in the proposal

[2020-03-29 06:13] mightycandle commented on #18
Hello @alranel
I have submitted a draft proposal through GSoC portal and I request you to suggest if any changes are required to it so that I can finalize and send a pdf at the earliest.
Regards :)

[2020-03-29 08:37] AbhinavMir commented on #106
Hi @alranel , just wanted to check in and know if there's any updates we could make to the draft!

[2020-03-29 09:26] Alaina358 opened #152 "GSoc 2020- Alaina Faisal (Nueral networks integration)"
My name is Alaina Faisal and I am 2nd year student of Computer science undergraduate degree. I have made a lot of projects since i got introduced to Arduino Uno in Robo camp.
I have experience in c++, Arduino projects and libraries, front end development and neural networks.
I would like to work on analyzer for Arduino Libraries.
Another idea I have is to integrate neural networks in Arduino?
Kind

[2020-03-29 11:40] mightycandle commented on #18
Hello @alranel @rsora
I have submitted a draft proposal through GSoC portal and I request you to suggest if any changes are required to it so that I can finalize and send a pdf at the earliest.
Or you can see it at:
https://drive.google.com/file/d/1i3BNogNVArIQuDc0L9z5H3RA9azREddK/view?usp=sharing
Regards :)

[2020-03-29 12:26] Inv3nt0r1 commented on #98
Is there any specific reason why the Arduino IDE has more examples than the actual library Repo?

@per1234

[2020-03-29 12:31] per1234 commented on #98
Would you mind providing some more details @Inv3nt0r1. Which library repo are you referring to? What is the exact menu path in the Arduino IDE where you are seeing the additional examples?

[2020-03-29 12:41] Inv3nt0r1 commented on #98
I apologize for not giving full details.

For example, [Keyboard Library](https://github.com/arduino-libraries/Keyboard) have only [1 example](https://github.com/arduino-libraries/Keyboard/tree/master/examples) in Github Repository i.e. Seria.ino.

But in IDE, under File > Examples > USB > Keyboard, there are 4 examples listed namely
* KeyboardLogout
* KeyboardMessage
* KeyboardReprogram
* Keyboar

[2020-03-29 12:52] per1234 commented on #98
Those examples are bundled with the Arduino IDE:
https://github.com/arduino/Arduino/tree/master/build/shared/examples/09.USB

I think the reason is because years ago the Keyboard and Mouse libraries were part of the core library. When they were made into separate libraries, the examples were left in their original location.

There are proposals to move those examples to the library repositories:
-

[2020-03-29 13:28] Inv3nt0r1 commented on #98
Okay, got it. Thank you so much for your reply.

[2020-03-29 14:57] AsherThomasBabu commented on #82
@per1234 is writing examples to the core library at https://github.com/arduino/Arduino/tree/master/build/shared/examples open as a part of GSoC?

[2020-03-29 15:39] ArjunInventor opened #153 "Arjun - write MicroPython examples and tools for Portenta"
Hello!

I'm Arjun, a 2nd year undergraduate at Lovely Professional University, India. I have experience working with Machine Learning and IoT. I was very excited to learn about the new Protenta board, especially its TF Lite compatibility.

I eagerly look forward to contributing to Arduino and adding some cool projects on Project Hub!

### Relevant Projects
- MoonShot Studio - A web-based tool to b

[2020-03-29 18:34] AbhinavMir commented on #114
Welcome @noob-master147 , good to see a fellow VITian here!

[2020-03-29 18:34] UtkarshBhatthere commented on #123
@alranel
I have submitted the proposal kindly go through it and suggest any changes that you find required in the proposal. There are certain things that need to be discussed for the project I've mentioned them as a note in the proposal. I hope you find the proposal fitting.
Regards.

[2020-03-29 18:36] AbhinavMir commented on #92
@Robogeek95 I am working on a Repo named JerryScriptForHumans.
Github.com/abhinavmir/jerryscriptforhumans

[2020-03-29 20:35] pra-dan commented on #35
@alranel @masci  Hello, I wanted to know if we will be told who the mentors will be for respective projects... I ask this because I am almost done with my proposal and I plan to get it reviewed by the mentors. If you could do so, I will be really thankful. Also, your review is highly anticipated. :)

[2020-03-29 20:35] OmarAli3 commented on #100
Hello @alranel, I have submitted my draft proposal nearly 10 days ago. Is there any hope to get a feedback before deadline ?

[2020-03-29 20:50] therealbigzeez commented on #92
@AbhinavMir , Thats cool! Just Checked the repo but its still empty, can you provide a few details on JerryScriptForHumans, i am really interested.

[2020-03-29 23:19] aymarc opened #154 "GSoC@Idea: write MicroPython examples and tools for Portenta"
My name is Christian Aymar Hounkponou; I am from Benin republic; and I currently live in Ghana where I am reading Electrical Electronics Engineering. My passion for robotics was born while I was in junior high school and never stopped growing ever since. I graduated from high school with a Baccalaureate degree in electronics engineering and then pursued my dream in university where I am studying E

[2020-03-29 23:24] annkkiit opened #155 "GSoC idea @ making official Arduino android and ios testing mobile applications"

[2020-03-29 23:34] MisterAwesome23 commented on #110
I see updating drafts here repeated reduces readability.
Instead I will add a comment every time with an updated markdown proposal link (like I am doing right now)-

https://github.com/MisterAwesome23/ArduinoGSOC2020/blob/master/GSoC_Proposal.md

Kindly review. Suggestions are most welcome :)

***
Also, for the following pull requests

arduino-libraries/Keyboard#30
arduino-libraries/Keyboard#32
ar

[2020-03-30 00:29] per1234 commented on #110
No. The mechanism we use for making changes in repositories is pull requests. The only way these changes can be made is via pull requests. If we close those PRs, someone else is just going to have to open a new pull request to do the same thing.

[2020-03-30 00:47] MisterAwesome23 commented on #110
Got it. Thanks :)

[2020-03-30 04:31] rijalbasanta commented on #113
@alranel Please provide feedback on my draft

[2020-03-30 07:39] aRbhaSun20 opened #156 "Introduction to Arduino Forum in Gsoc 2020"
Arbhasun Banerjee from Bangalore,Karnataka State India Studying at Govt. SKSJTI  4th Semester Computer Science Engineering Graduate with 2 years of heavy exposures to both Hardware and Software interface and Knowledge of Either of the Scripting Languages Python and Javascript.
And emerged Victorious in many National Level Competitions arranged at prestigious Government Institutions like IISC, Bang

[2020-03-30 07:40] #156 closed

[2020-03-30 08:28] AbhinavMir commented on #92
@Robogeek95 I will be adding post-31st. The pandemic wildly affected my schedule 😥.

[2020-03-30 12:26] OmarAli3 commented on #100
New Pull Request in https://github.com/arduino-libraries/ArduinoGraphics/pull/16 .

[2020-03-30 12:30] ochui commented on #155
Hello @ankit2019j , please a look at @alranel  reply on issue #34

[2020-03-30 13:05] annkkiit commented on #155
Can we build an iOS version of it?

On Mon, 30 Mar, 2020, 6:00 pm ochui princewill patrick, <
notifications@github.com> wrote:

[2020-03-30 14:40] ashpande commented on #155
Please also see #13 and #17 , it appears that any kind of mobile application is not on their roadmap for this year. I know there is very little time remaining but it would be risky to go ahead with this.

[2020-03-30 15:00] vedrocks15 commented on #45
@alranel is it necessary for us to fix a bug & also is it necessary to write the pdf submission in markdown format ?

[2020-03-30 17:40] mitch3lljones opened #157 "GSoC 2020 Idea - Write MicroPython Examples and Tools for Portenta"
Hi! My name is Mitchell Jones and I am a computer engineering student at Oklahoma Christian University. I started having in interest in Robotics in 6th grade where I competed in the First Lego League (FLL). Throughout high school and college, I have used Arduino's for various different applications, culminating in my design project which is greatly relevant to this application. Below are two reaso

[2020-03-30 19:42] suvankit opened #158 "Writting example code for HX711 weight sensor"
Hi, I am Subhankit, a 2nd year electrical undergraduate student. I have been making cool projects using arduino which includes line following robot to maze solver robot to IoT based smart saline bottles  and many projects. I am very familiar with C language and arduino language as i have been using arduino for many projects and robotic competitions. While making a project with HX711 weight sensor,

[2020-03-30 20:52] ApurvShah007 opened #159 "GSoc 2020 - Introduction"
Greetings,

My name is Apurv Shah and I am a sophomore at UMass Amherst double majoring in CS and Mathematics. I have been working on analog electronics projects for over 3 years and I have worked with peer-to-peer libraries such as the esp_now to make efficient wireless connections to remotely control motion.

I would love to work on fixing bugs in library for wireless communications among module

[2020-03-30 22:58] MisterAwesome23 commented on #110
I have submitted the final proposal for the project: Write Examples For Official Libraries @ Arduino.
Looking forward to it and being the part of the community :)

[2020-03-30 23:16] yzykov opened #160 "GSOC 2020: Free RTOS(MicroPython) Portena / Arduino CLI"
Hello everyone,

My name is Yury Zykov and I am  4th-year Systems Engineering Student at Simon Fraser University (Vancouver, Canada). I do have co-op experience as a Radiology software engineer (C++, C#, C, Objective-C) at Change Healthcare. Also, I do have personal projects with Arduino & Python.

As a part of my education, I got familiar with Embedded & RTO Systems, Digital system design, Feedba

[2020-03-31 04:20] itssukant opened #161 "Write examples for the official libraries"
This is a great pleasure to introduce myself to all of you. I am Sukant Jha from Vellore Institute of Technology, Vellore, Tamil Nadu, India. I am a first year student (Btech Information technology), and working with Code park and C4 Projects.
I have been working for more than 3-4 years on Arduino Projects since i was pursuing my class 10th.
I made some small projects in my school time like line f

[2020-03-31 05:14] AsherThomasBabu commented on #110
@MisterAwesome23 were you able to get the conversion to pdf with pandoc?

[2020-03-31 05:16] guptaa47 opened #162 "Introduction for GSoC 2020"
Hello, my name is Aneesh Gupta and I am a freshman at the Massachusetts Institute of Technology. I am interested in writing examples for various Arduino libraries such as the TFT library. Over the last semester I took a class in Arduino which focused on using the TFT library as well as other libraries to maximize algorithmic efficiency, interface with sensors, and network with servers and APIs. I

[2020-03-31 05:28] pra-dan commented on #110
@AsherThomasBabu refer to this option. Its better:
[code]

[2020-03-31 06:02] AsherThomasBabu commented on #110
Thank you so much @PrashantDandriyal! It works like a charm!

[2020-03-31 06:16] pra-dan commented on #35
@per1234 can you please provide some clarifications on my proposal and suggest edit.
I will be thankful.

[2020-03-31 06:19] pra-dan commented on #35
Here's my draft version
https://github.com/PrashantDandriyal/arduino_GSoC2020

[2020-03-31 07:17] MisterAwesome23 commented on #110
Thanks @PrashantDandriyal
I did the same, except taking the -o as a docx file and then using doc export as pdf feature.

[2020-03-31 07:53] MrCerealKiller opened #163 "GSoC: ROS Integration and Robotics Example Suite for the Arduino Portenta"
## Hello all,

_Sorry for jumping in so late in the game, I was just referred here recently :cry:_

### \brief Me:
I hope I still get a chance for consideration because I am a long-time user of Arduinos and am quite excited by the opportunity to jump on something new like this. I am a mechanical and software engineering student at McGill University, specializing in robotics, with plenty of experie

[2020-03-31 08:36] hmzakhalid commented on #21
I've Submitted my proposal

[2020-03-31 09:53] hsntrq opened #164 "Introduction"
Hi, I am a Bachelors Of Science undergraduate at Habib University currently in my second semester pursuing a major in Computer Engineering. I wish to work on writing MicroPython examples for Portenta.

I wanted to know whether Portenta uses pyfirmata or some other library for MicroPython

[2020-03-31 10:58] Ezraorich commented on #164
Hello, I am a last year Bachelor of Information Systems student at Eurasdian National University. Now I want to make some contribution.

[2020-03-31 13:22] PIYUSHgoyal16 opened #165 "Introduction to GSoC 2020"
Hello Everyone,
I am Piyush Goyal, a Computer Science undergrad currently studying at Indian Institute of Technology Mandi. I am currently the Co-ordinator of Robotronics Club at my college. We people tend to organise workshops on Arduino, IoT, Raspberry Pi, etc. Obviously, I have a keen interest in learning new stuff about Electronic sensors and Boards.

I have gone through the Project Idea Page

[2020-03-31 14:03] shreyask21 opened #166 "MicroPython examples and tools for Portenta"
Hello! My name is Shreyas Kulkarni and I am a second-year undergrad student. I am currently doing Electronics Engineering in Pune University, India. And I want to create Micropython examples and tools for Portenta.

I have submitted my **draft proposal** through the GSoC website.
As this is my **first time** applying for GSoC it would be helpful if you guide me through the process and any **change

[2020-03-31 14:50] janeoa opened #167 "Introduction for GSoC 2020"
Hello there!

3rd Year Robotics and Mechatronics student from Nazarbayev University, KZ.
It is my first Summer of Code and first ever contribution to the open-source.

My experience with Arduino ecosystem is over 7 years now. It's been a very handy tool to have.
Now I want to support the Project by creating example codes for the Libraries or may be even help to create Arduino CLI.

Wish you all lu

[2020-03-31 14:54] hsntrq commented on #164
Added MicroPython example for Portenta about sweeping a servo - https://github.com/arduino-libraries/Servo/pull/56

[2020-03-31 16:40] jhonpaulo98 opened #168 "Micropython on portenta board: fast, interactive, powerful and practical."
Hi, I'm Jhon Merchan, I study software engineering at the University of Guayaquil, although I really like hardware, I have two years of experience developing MicroPython with ESP32/ESP8266 , also I have experience in Arduino (it was my first love).

I have been a speaker at many technology events in Latin America about industry 4.0 with MicroPython, in one of these events I collaborated in the des

[2020-03-31 17:37] ashpande commented on #150
My final proposal has been uploaded :)

https://drive.google.com/file/d/1z2qUlTnPmm_nRXp1Yo-LPh3SZQNt2c9o/view

Thank you!

[2020-03-31 18:19] RobTillaart commented on #150
Why not start from the GCC compiler?
Just thinking out loud...

[2020-03-31 18:23] AsherThomasBabu commented on #82
I have submitted my proposal! Looking forwards to working with the mentors at @arduino this summer.

[2020-03-31 19:12] ashpande commented on #150
@RobTillaart honestly the GCC codebase was pretty intimidating, and I wasn't quite sure on how to integrate Arduino Language reference into it. I even thought of using compiling to Haxe since Haxe has Python as one of the Target languages.

Anyway, now since the proposal is done I'll take a deeper look into it. If nothing else, maybe I can find a way to use the GCC front end in a manageable way, I

[2020-03-31 22:53] manoloramirez opened #169 "Write examples for official libraries"
Hi! My name is Manolo Ramírez, I´m a Mechatronics Engineer from Guatemala and currently studying my Msc in Computer and Automation Engineering with specialization in Robotics & Automation in Italy.
The first time I met the Arduino platform was in 2013. In March of that year I had to carry out my first project, modulating the voltage of an LED with a variable resistor. Since then I made diferrent p

[2020-04-01 01:44] thekunalsaini commented on #47
Hi @alranel,
Sir, I'm trying to submit proposal but website showing error at night.
Is there any other way to submit proposal.
I mailed to GSoC support for this issue.

[2020-04-01 01:44] thekunalsaini commented on #47
@alranel urgent reply please

[2020-04-01 18:27] ashpande commented on #169
You have submitted a proposal on the Google site right?

[2020-04-01 20:21] manoloramirez commented on #169
Yes, I submitted it yesterday.

On Wed, Apr 1, 2020, 12:42 Ashutosh Pandey <notifications@github.com> wrote:

[2020-04-01 22:24] MisterAwesome23 commented on #110
### Application Review Period (March 31, 2020 - April 30, 2020) Checklists and Updates
---
##### From proposal
- [x] Cover all 90 repositories under arduino-official libraries.
- [x] Continue fixing issues and create necessary pull-requests.
- [x] Finalize on ten (an approximate number) which I feel are most relevant to this project and align with my interests.

**Created on 2nd April, 2020:**
###

[2020-04-02 04:09] #40 closed

[2020-04-02 08:40] luvneesh commented on #47
lol the time is up kid

On Wed, Apr 1, 2020 at 7:15 AM thekunalsaini <notifications@github.com>
wrote:

[2020-04-03 12:15] kanishchugh commented on #97
Greetings @alranel, was just getting familiar with the pro IDE and i had a query that till when will the support for Portenta will be released? and as well as the documentation. no hurries, just really exited about this project ;)

[2020-04-07 15:36] KAbhijeet2105 commented on #30
### Weekly report (1 April - 7 April 2020)
**Work done :**

- Explored TFT Library

- [#18](https://github.com/arduino-libraries/TFT/issues/18): In the Arduino TFT library, there is a function to draw triangle but, the documentation and example are missing.

-  [#17](https://github.com/arduino-libraries/TFT/pull/17): Added new example Rainbow,added new example TFTTriangle.

[2020-04-08 09:21] ayan-biswas0412 commented on #99
@alranel please let me know if there is any codebase ready to take some initial action regarding GSoC like just understanding the codebase for the new portenta board

[2020-04-08 09:22] ayan-biswas0412 commented on #99
Hope you are Safe and Healthy in this pandemic situation and I have emailed you once but didn't get any reply.
Please let me know if there is any slack channel or any IRC for this project

[2020-04-09 08:35] sciamp-dev commented on #4
Hello, sorry for the late update.
Since I was hired for an intership this summer, I no longer submitted a proposal.

Thanks anyway for the help! I'll try to stay involved with the community :)

[2020-04-09 08:35] #4 closed

[2020-04-10 03:04] #168 closed

[2020-04-11 07:58] dushyant18033 commented on #77
Hi, I am eagerly waiting for the Arduino Portenta MicroPython documentation to be released. I even checked MicroPython's official website but there is no mention of Portenta documentation yet. When is it going to be publicly accessible? Or is it the same as the one for pyboard since both pyboard and Portenta run on SMT32?

Thanks

[2020-04-14 15:51] KAbhijeet2105 commented on #30
### Weekly report (8 April - 14 April 2020)
**Work done:**

- Total 58 Libraries explored out of 90.

- [#17](https://github.com/arduino-libraries/TFT/pull/17): minor bugs and typo fix.

[2020-04-18 07:08] atharva-sundge commented on #1
Update
1) Going through Micropython examples for Pyboard, as it may help in the project.
2)Working on AI and CV examples using TF Lite
3)Soon I will make one Hardware peripheral with Arduino Uno and will upload on ProjectHub, as it will give me some experience for the projection of work
@alranel sir looking forward to any suggestion before the result to be announced, as super excited to contribute

[2020-04-20 19:09] ashpande commented on #150
Update 21/04/2020

Markdown proposal can be found at: https://github.com/AshutoshPandey123456/GSocArduino2020/blob/master/proposal.md

- Took a deep dive into GNU/GCC front end.
- Went through MIT OCW lectures on Compiler design in C https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-035-computer-language-engineering-spring-2010/
- Went through the Micropython language refer

[2020-04-21 14:58] KAbhijeet2105 commented on #30
### Weekly report (15 April - 21 April 2020)

**Work done:**

- A total of 64 Libraries explored out of 90.

[2020-04-21 18:56] shawayush commented on #122
hey @alranel, in the meantime I have attempted to solve two more issues.
https://github.com/arduino/ArduinoCore-samd/pull/511 and https://github.com/arduino/arduino-cli/issues/128 (almost there with the solution). I hope these contributions are enough to evaluate my application.
Thank you

[2020-04-28 14:34] KAbhijeet2105 commented on #30
### Weekly report (22 April - 28 April 2020)

**Work done:**

- A total of 68 Libraries explored out of 90.

[2020-04-28 15:09] AsherThomasBabu commented on #30
No offense, but the spelling should be **weekly** instead of **weakly**

[2020-04-28 15:19] KAbhijeet2105 commented on #30
Thanks for suggesting the correction.

[2020-05-04 19:48] ashpande commented on #150
@alranel thank you for selecting me :D I want to know if this GitHub issue is still the best place to communicate or whether I should reach out to you by some other means.

Will get to work on the project right away! Also look forward to interacting with members of the Arduino community!

[2020-05-04 20:32] MisterAwesome23 commented on #110
Thank you @per1234 and @alranel for for this issue tracker.
Though I **am not get selected** for this project, looking forward to contribute to the Arduino Community and being a part of future opportunities :)
[Closing this issue tracker]

[2020-05-04 20:32] #110 closed

[2020-05-04 21:12] per1234 commented on #110
@MisterAwesome23 I've enjoyed our interactions and welcome your continued involvement with Arduino.

Regards, Per

[2020-05-05 00:24] #163 closed

[2020-05-05 02:08] AsherThomasBabu commented on #82
Thank you @alranel and @per1234 for the support throughout! I have learned quite a lot. Hoping to remain associated with the community!

[2020-05-05 02:08] #82 closed

[2020-05-05 14:36] Chester-King commented on #25
Hello @alranel @per1234

Although I didn't get selected this year. I still intend to contribute towards the code repositories of portenta when they are finalized. Thanks for the support till now.
Looking forward to contribute to the community.

Thanks & Regard,
Madhur Dixit
Email: dmadhur6@gmail.com

[2020-05-05 14:36] #25 closed

[2020-05-06 10:48] MRNIU commented on #76
@alranel
Hello, I am honored to be able to participate in this year's event. Is there any contact information to discuss?

[2020-05-10 13:15] vinay-lanka commented on #130
Thank you so much for the opportunity!
It's a great experience contributing to open source and I am going to continue to try and contribute to the Arduino organisation.

[2020-05-10 13:15] #130 closed

[2020-05-22 22:47] ashpande commented on #76
Hey, congratulations on being accepted. I'm the other student that Arduino selected. All the best for your project!

[2020-05-23 05:06] MRNIU commented on #76
@AshutoshPandey123456
Same to you.
Maybe we can exchange telegram?

[2020-05-23 05:43] ashpande commented on #76
Yeah sure!

I'm Ashu_tosh_Pandey (username) on Telegram.

[2020-05-23 06:16] MRNIU commented on #76
I am Zone233.
Looking forward to your message.

在 2020年5月23日，13:43，Ashutosh Pandey <notifications@github.com> 写道：

﻿

Yeah sure!

I'm Ashu_tosh_Pandey (username) on Telegram.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub<https://github.com/arduino/summer-of-code/issues/76#issuecomment-632989663>, or unsubscribe<https://github.c

[2020-06-23 13:16] #111 closed

[2020-06-24 17:07] #161 closed

[2020-10-10 16:52] #41 closed

[2020-11-08 18:17] #118 closed

[2021-01-07 18:11] Tax3r opened #170 "Question Regarding Gsoc 2021"
Will Arduino be a mentoring organization in the upcoming Gsoc 2021?
Thank you for taking your time out and answering the question :)

[2021-01-21 06:54] Anky209e commented on #170
Yes,Of course it will be.

[2021-02-08 07:55] #55 closed

[2021-02-15 16:33] #76 closed

[2021-02-16 10:02] D-Ajay-Kumar commented on #170
What projects will Arduino have this summer? And also can we have an IRC channel probably on Gitter for easy communication?

[2021-02-19 16:14] alranel commented on #170
Hi @Tax3r @Anky209e @D-Ajay-Kumar, unfortunately Arduino is not applying for GSoC 2021.
However, any contribution to our open source projects is very welcome! Check out the various repositories and join the community :)

[2021-02-19 16:14] #170 closed

[2021-02-19 16:14] #141 closed

[2021-02-19 16:14] #142 closed

[2021-02-19 16:14] #143 closed

[2021-02-19 16:14] #144 closed

[2021-02-19 16:14] #145 closed

[2021-02-19 16:14] #146 closed

[2021-02-19 16:14] #147 closed

[2021-02-19 16:14] #148 closed

[2021-02-19 16:14] #149 closed

[2021-02-19 16:14] #150 closed

[2021-02-19 16:14] #151 closed

[2021-02-19 16:14] #152 closed

[2021-02-19 16:14] #153 closed

[2021-02-19 16:14] #154 closed

[2021-02-19 16:14] #155 closed

[2021-02-19 16:14] #157 closed

[2021-02-19 16:14] #158 closed

[2021-02-19 16:14] #159 closed

[2021-02-19 16:14] #160 closed

[2021-02-19 16:14] #162 closed

[2021-02-19 16:14] #164 closed

[2021-02-19 16:14] #165 closed

[2021-02-19 16:14] #166 closed

[2021-02-19 16:14] #167 closed

[2021-02-19 16:14] #169 closed

[2021-02-19 16:15] #106 closed

[2021-02-19 16:15] #107 closed

[2021-02-19 16:15] #108 closed

[2021-02-19 16:15] #109 closed

[2021-02-19 16:15] #113 closed

[2021-02-19 16:15] #114 closed

[2021-02-19 16:15] #116 closed

[2021-02-19 16:15] #117 closed

[2021-02-19 16:15] #119 closed

[2021-02-19 16:15] #122 closed

[2021-02-19 16:15] #123 closed

[2021-02-19 16:15] #125 closed

[2021-02-19 16:15] #126 closed

[2021-02-19 16:15] #129 closed

[2021-02-19 16:15] #131 closed

[2021-02-19 16:15] #132 closed

[2021-02-19 16:15] #133 closed

[2021-02-19 16:15] #134 closed

[2021-02-19 16:15] #135 closed

[2021-02-19 16:15] #136 closed

[2021-02-19 16:15] #137 closed

[2021-02-19 16:15] #138 closed

[2021-02-19 16:15] #139 closed

[2021-02-19 16:15] #140 closed

[2021-02-19 16:15] #79 closed

[2021-02-19 16:15] #80 closed

[2021-02-19 16:15] #81 closed

[2021-02-19 16:15] #83 closed

[2021-02-19 16:15] #84 closed

[2021-02-19 16:15] #85 closed

[2021-02-19 16:15] #86 closed

[2021-02-19 16:15] #87 closed

[2021-02-19 16:15] #88 closed

[2021-02-19 16:15] #89 closed

[2021-02-19 16:15] #90 closed

[2021-02-19 16:15] #91 closed

[2021-02-19 16:15] #92 closed

[2021-02-19 16:15] #93 closed

[2021-02-19 16:15] #94 closed

[2021-02-19 16:15] #95 closed

[2021-02-19 16:15] #96 closed

[2021-02-19 16:15] #97 closed

[2021-02-19 16:15] #98 closed

[2021-02-19 16:15] #99 closed

[2021-02-19 16:15] #100 closed

[2021-02-19 16:15] #101 closed

[2021-02-19 16:15] #102 closed

[2021-02-19 16:15] #103 closed

[2021-02-19 16:15] #104 closed

[2021-02-19 16:15] #47 closed

[2021-02-19 16:15] #49 closed

[2021-02-19 16:15] #51 closed

[2021-02-19 16:15] #52 closed

[2021-02-19 16:15] #53 closed

[2021-02-19 16:15] #54 closed

[2021-02-19 16:15] #57 closed

[2021-02-19 16:15] #58 closed

[2021-02-19 16:15] #59 closed

[2021-02-19 16:15] #60 closed

[2021-02-19 16:15] #61 closed

[2021-02-19 16:15] #62 closed

[2021-02-19 16:15] #63 closed

[2021-02-19 16:15] #64 closed

[2021-02-19 16:15] #65 closed

[2021-02-19 16:15] #66 closed

[2021-02-19 16:15] #67 closed

[2021-02-19 16:15] #68 closed

[2021-02-19 16:15] #69 closed

[2021-02-19 16:15] #71 closed

[2021-02-19 16:15] #72 closed

[2021-02-19 16:15] #74 closed

[2021-02-19 16:15] #75 closed

[2021-02-19 16:15] #77 closed

[2021-02-19 16:15] #78 closed

[2021-02-19 16:15] #1 closed

[2021-02-19 16:15] #3 closed

[2021-02-19 16:15] #5 closed

[2021-02-19 16:15] #11 closed

[2021-02-19 16:15] #17 closed

[2021-02-19 16:15] #18 closed

[2021-02-19 16:15] #21 closed

[2021-02-19 16:15] #23 closed

[2021-02-19 16:15] #26 closed

[2021-02-19 16:15] #28 closed

[2021-02-19 16:15] #29 closed

[2021-02-19 16:15] #30 closed

[2021-02-19 16:15] #31 closed

[2021-02-19 16:15] #32 closed

[2021-02-19 16:15] #34 closed

[2021-02-19 16:15] #35 closed

[2021-02-19 16:15] #36 closed

[2021-02-19 16:15] #37 closed

[2021-02-19 16:15] #38 closed

[2021-02-19 16:15] #39 closed

[2021-02-19 16:15] #42 closed

[2021-02-19 16:15] #43 closed

[2021-02-19 16:15] #44 closed

[2021-02-19 16:15] #45 closed

[2021-02-19 16:15] #46 closed